<!DOCTYPE html>
<html ng-app="cgmall">
<head>
    <meta charset="UTF-8">
    <title>申请交收-订单详情（卖家）</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="assets/css/common/yang-common.min.css">
    <link rel="stylesheet" href="assets/css/tb-submit/order-detail.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/application/application-seller-odetail.js"></script>
</head>
<body ng-cloak ng-controller="AppSellerOdetail">

<div class="card">
    <div class="card-body">
        <div class="info-list">
            <div class="info">
                <div class="info-title">订单号</div>
                <div class="info-desc">{{appSellOdetailData.orderNo}}</div>
            </div>
            <div class="info">
                <div class="info-title">订单金额</div>
                <div class="info-desc price">&yen; {{appSellOdetailData.totalAmount}}</div>
            </div>
            <div class="info">
                <div class="info-title" style="width:8rem">累计冲红金额</div>
                <div class="info-desc">&yen; {{appSellOdetailData.totalRedAmount}}</div>
            </div>
            <div class="info">
                <div class="info-title">结算模式</div>
                <div class="info-desc">{{appSellOdetailData.settlementType}}</div>
            </div>
            <div class="info">
                <div class="info-title">下单时间</div>
                <div class="info-desc">{{appSellOdetailData.createdTime}}</div>
            </div>
            <div class="info">
                <div class="info-title">提交时间</div>
                <div class="info-desc">{{appSellOdetailData.orderTime}}</div>
            </div>
        </div>
    </div>
</div>

<!--收货地址S-->
<div class="card">
    <div class="card-head">
        <h2 class="card-hd-title">收货信息</h2>
    </div>
    <div class="card-body item-bill">
        <div class="item-list">
            <a href="javascript:void(0)"
               class="item">
                <div>
                    <div class="item-info">
                        <div class="item-info-name">收货人</div>
                        <div class="item-info-desc">{{appSellOdetailData.receiverName}}</div>
                    </div>
                    <div class="item-info">
                        <div class="item-info-name">电话</div>
                        <div class="item-info-desc">{{appSellOdetailData.receiverTel}}</div>
                    </div>
                    <div class="item-info">
                        <div class="item-info-name">地址</div>
                        <div class="item-info-desc">{{appSellOdetailData.receiverAddress}}</div>
                    </div>
                    <div class="item-info">
                        <div class="item-info-name">发票抬头</div>
                        <div class="item-info-desc">{{appSellOdetailData.invoiceInfo}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!--收货地址E-->

<div class="card">
    <div class="card-head">
        <h2 class="card-hd-title">货物清单</h2>
        <a href="javascript:void(0)" class="card-hd-link" hm-tap="goToGoodList()">全部商品 ({{appSellOdetailData.goodsList.length}})</a>
    </div>
    <div class="card-body item-bill">
        <div class="item-list">
            <a href="javascript:void(0)"
               class="item item-link"
               ng-repeat="goods in tbDeliverGoods.slice(0,2) track by goods.id"
               hm-tap="getGoodsDetail()">
                <h3 class="item-name">{{goods.goodsName}}</h3>
                <div class="item-info">
                    <div class="item-info-name">规格</div>
                    <div class="item-info-desc">{{goods.dimension}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">采购数量</div>
                    <div class="item-info-desc">{{goods.orderQty}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">单价</div>
                    <div class="item-info-desc price">&yen;{{goods.price}}</div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-head">
        <h2 class="card-hd-title">结算记录</h2>
    </div>
    <div class="card-body item-bill">
        <div class="item-list">
            <a href="javascript:void(0)"
               class="item item-link"
               ng-repeat="record in balanceList"
               hm-tap="goToSettl()">
                <div class="item-info">
                    <div class="item-info-name">结算单</div>
                    <div class="item-info-desc">{{record.settlementNo}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">应付金额</div>
                    <div class="item-info-desc price">&yen; {{record.payableAmount}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">应付日期</div>
                    <div class="item-info-desc">{{record.contractSettlementTime}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">支付类型</div>
                    <div class="item-info-desc">{{record.payType==3?'授信支付':record.payType==1?"担保支付":''}}</div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>