<!DOCTYPE html>
<html ng-app="cgmall">
<head>
    <meta charset="UTF-8">
    <title>生产订单-选择订单</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="assets/css/common/yang-common.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/generate-order/generate-order-choose.js"></script>
    <style>
        .item-list-radio .item .item-info-desc {
            width: 18.51852rem;
            white-space: inherit;
        }
        .item-list-radio li {
            margin-bottom: 0.285rem;
        }
    </style>
</head>
<body ng-controller="GenerateOrderChoose">
<ul class="item-list-radio">
    <li ng-repeat="goods in generateOrderData">
        <div class="left" style="position: relative">
            <input  ng-click="choose($index)"
                    type="checkbox"
                    name="item"
                    class="item-radio" style="position: absolute;top:50%;margin-top:-0.63rem;">
        </div>
        <div class="right item">
            <div class="item-info">
                <div class="item-info-name">通用名称</div>
                <div class="item-info-desc">{{goods.name}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">配送商品</div>
                <div class="item-info-desc">{{goods.goodsName||'无'}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">规　　格</div>
                <div class="item-info-desc">{{goods.dimension}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">厂　　家</div>
                <div class="item-info-desc">{{goods.manufacture||'无'}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">销售价格</div>
                <div class="item-info-desc" style="color:#DE5A49">&yen; {{ goods.salePrice}}</div>
            </div>
        </div>
    </li>
</ul>

</body>
</html>