<!DOCTYPE html>
<html ng-app="cgmall">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="assets/css/common/yang-common.min.css">
    <link rel="stylesheet" href="assets/css/goodsreject/settl-choose.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/goodsreject/handle-settl-choose.js"></script>
</head>
<body ng-cloak ng-controller="HandleSettlChooseCtrl">

    <div class="sort">
        <div ng-class="{active: currSelect == $index+1}"
             hm-tap="filterChoose()"
             ng-repeat="orderItem in orderItemList">
            <h2>
                {{orderItem.title}}
                <i class="{{orderItem.type}}"
                   ng-class="{desc: orderMode==1, asc: orderMode==2}"></i>
            </h2>
            <ul class="sort-item-list">
                <li ng-repeat="item in orderItem.items"
                    ng-class="{active: (currSelect == 1 && settlMode.label == item.label) || (currSelect == 2 && settlState.label == item.label)}"
                    hm-tap="filerItemChoose()">{{item.label}}</li>
            </ul>
        </div>
    </div>
    <div id="mask" ng-if="currSelect !== 0 && currSelect !== 3" hm-tap="closeMask()"></div>

    <ul class="item-list-radio">
        <li ng-repeat="settl in settlList">
            <div class="left">
                <input type="checkbox" name="item" class="item-radio" ng-click="select()">
            </div>
            <div class="right item">
                <div class="item-info">
                    <div class="item-info-name ch">订单代码</div>
                    <div class="item-info-desc">{{settl.orderNo}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name ch">结算单号</div>
                    <div class="item-info-desc">{{settl.settlementNo}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name ch">结算金额</div>
                    <div class="item-info-desc">&yen;{{settl.accountAmount | number: 2}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name ch">结算方式</div>
                    <div class="item-info-desc">{{settl.payType}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name ch">结算日期</div>
                    <div class="item-info-desc">{{sett.settlementTime}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name ch">结算状态</div>
                    <div class="item-info-desc">{{settl.status}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name ch">应收金额</div>
                    <div class="item-info-desc">&yen;{{settl.payableAmount | number: 2}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name ch">已冲红金额</div>
                    <div class="item-info-desc">&yen;{{settl.redAmount | number: 2}}</div>
                </div>
            </div>
        </li>
    </ul>


</body>
</html>