<!DOCTYPE html>
<html ng-app="cgmall">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>主题馆</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="assets/css/main-hall/main-mall.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/angular-sanitize.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
</head>
<body ng-cloak ng-controller="MainHall as mainHall">
<div class="main-mall" >
    <div class="banner focus" id="focus">
        <div class="hd">
            <ul>
                <li ng-repeat="banner in mainHall.banners"></li>
            </ul>
        </div>
        <div class="bd">
            <ul>
                <li ng-repeat="banner in mainHall.banners">
                    <a href="{{ banner.link }}">
                        <img ng-src="{{ banner.image }}" alt="banner图">
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="commodity-street">
        <div class="con clearfix">
            <a ng-repeat="item in mainHall.items" hm-tap="mainHall.linkToDetail(item.goodsId)">
                <img ng-src="assets/images/index/gooddemo.png" alt="商品图" ng-show="!item.imageUrl">
                <img ng-src="assets/images/index/gooddemo.png" alt="商品图" ng-show="item.imageUrl">
                <p class="goods-name textOverflow">{{ item.name }}</p>
                <p class="format">{{ item.format }}</p>
                <p class="com-name">{{ item.company }}</p>
            </a>
        </div>
    </div>
</div>
<script src="assets/js/lib/TouchSlide.1.1.js"></script>
<script src="assets/js/main-hall/main-hall.js"></script>
<script>
    setTimeout(function() {
        TouchSlide({
            slideCell:"#focus",
            titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            mainCell:".bd ul",
            effect:"left",
            autoPlay:true,//自动播放
            autoPage:true, //自动分页
            switchLoad:"_src" //切换加载，真实图片路径为"_src"
        });
    }, 800);

</script>
</body>
</html>