<!DOCTYPE html>
<html ng-app="cgmall">
<head>
    <meta charset="UTF-8">
    <title>请购流程-选择商品</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="assets/css/common/yang-common.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/purchase/purchase-choose-goods.js"></script>
    <script src="assets/js/goodsreject/dataOpera.js"></script>
</head>
<body ng-controller="PurchaseChooseGoods">

<ul class="item-list-radio">
    <li ng-repeat="data in catalogGoodsData track by data.id">
        <div class="left" style="position: relative">
            <input  ng-click="choose($index)"
                    type="radio"
                    name="item"
                    class="item-radio"
                    style="position: absolute;top:50%;margin-top:-0.63rem;">
        </div>
        <div class="right item">
            <div class="item-info">
                <div class="item-info-name">商品名称</div>
                <div class="item-info-desc">{{data.name}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">品　　牌</div>
                <div class="item-info-desc">{{data.brand}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">厂　　家</div>
                <div class="item-info-desc">{{data.manu}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">规格包装</div>
                <div class="item-info-desc">{{data.dimension}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">销 售 价</div>
                <div class="item-info-desc price">¥{{data.salePrice}} </div>
            </div>
            <div class="item-info">
                <div class="item-info-name">议　　价</div>
                <div class="item-info-desc price">¥{{data.bargainPrice}}</div>
            </div>
            <div class="item-info">
                <div class="item-info-name">商品备注</div>
                <div class="item-info-desc">{{data.goodsNote}}</div>
            </div>
        </div>
    </li>
</ul>
</body>
</html>