<html ng-app="cgmall">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>待接收-订单性情</title>
    <link rel="stylesheet" href="assets/css/tb-received/tb-received.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tb-received/tb-received-detail.js"></script>
</head>
<body ng-controller="TbReceivedDetail as detail" ng-cloak>
    <div class="tb-received-detil-wrapper ">
        <div class="order-info">
            <table>
                <tr>
                    <td>
                        <span>
                            订单代码
                        </span>
                    </td>
                    <td class="">
                        <p class="textOverflow">
                           {{ detail.data.orderNo }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            收货人
                        </span>
                    </td>
                    <td>
                        <p class="textOverflow">
                            {{ detail.data.receiverName }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            联系电话
                        </span>
                    </td>
                    <td>
                        {{ detail.data.receiverTel }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            收货地址
                        </span>
                    </td>
                    <td>
                        <p class="textOverflow">
                            {{ detail.data.receiverAddress }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            订单金额
                        </span>
                    </td>
                    <td>
                        <p class="price textOverflow">
                            {{ detail.data.totalAmount }}
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="list">
            <section class="title">
                <span>货物清单</span>
                <strong hm-tap="detail.linkToGoodsList()">
                    全部商品({{ detail.data.goodsList.length }})
                </strong>
            </section>
            <ul>
                <li hm-tap="detail.linkToGoodsInfo(0)">
                    <a href="javascript:;">
                        <h3 class="textOverflow">
                            {{ detail.data.goodsList[0].goodsName }}
                        </h3>
                        <table>
                            <tr>
                                <td>
                                    规格
                                </td>
                                <td>
                                    {{ detail.data.goodsList[0].dimension }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    采购数量
                                </td>
                                <td>
                                    {{ detail.data.goodsList[0].orderQty }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    单价
                                </td>
                                <td>
                                    <span>
                                        ￥{{ detail.data.goodsList[0].price }}
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div class="tag-choose" ng-switch="detail.data.goodsList[0].changeType">
                            <i class="tag tag-shanchu" ng-switch-when="1">
                                删除
                            </i>
                            <i class="tag tag-xiugai" ng-switch-when="2">
                                修改
                            </i>
                            <i class="tag tag-xinzeng" ng-switch-when="3">
                                新增
                            </i>
                            <i class="tag tag-yijia" ng-show="detail.data.goodsList[0].bargain">
                                议价
                            </i>
                        </div>
                        <i class="arrow">
                            <img src="assets/images/tb-received/arrow.png" alt="">
                        </i>
                    </a>
                </li>
                <li hm-tap="detail.linkToGoodsInfo(1);" ng-show="detail.data.goodsList.length >= 2">
                    <a href="javascript:;">
                        <h3 class="textOverflow">
                            {{ detail.data.goodsList[1].goodsName }}
                        </h3>
                        <table>
                            <tr>
                                <td>
                                    规格
                                </td>
                                <td>
                                    {{ detail.data.goodsList[1].dimension }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    采购数量
                                </td>
                                <td>
                                    {{ detail.data.goodsList[1].orderQty }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    单价
                                </td>
                                <td>
                                    <span>
                                        ￥{{ detail.data.goodsList[1].price }}
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div class="tag-choose" ng-switch="{{ detail.data.goodsList[1].changeType }}">
                            <i class="tag tag-shanchu" ng-switch-when="1">
                                删除
                            </i>
                            <i class="tag tag-xiugai" ng-switch-when="2">
                                修改
                            </i>
                            <i class="tag tag-xinzeng" ng-switch-when="3">
                                新增
                            </i>
                            <i class="tag tag-yijia" ng-show="detail.data.goodsList[1].bargain">
                                议价
                            </i>

                        </div>
                        <i class="arrow">
                            <img src="assets/images/tb-received/arrow.png" alt="">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="account">
            <section class="title">
                <span>结算记录</span>
                <!--<div class="select" hm-tap="detail.payPopout()" ng-init="detail.init='线上结算'">-->
                    <!--<small>{{detail.init}}</small>-->
                    <!--<img src="assets/images/tb-received/arrow_down.png" alt="">-->
                    <!--<ul ng-show="detail.ifShowPayMethod">-->
                        <!--<li ng-repeat="item in detail.payMethod" hm-tap="detail.paySelect($event, item)">-->
                            <!--{{item}}-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </section>
            <div class="payment-tt" hm-tap="detail.goToRecord($index)" ng-repeat="item in detail.data.balanceList">
                <div class="count-info">
                    <table>
                        <tr>
                            <td>
                                结算单号
                            </td>
                            <td>
                                {{ item.settlementNo }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                订单金额
                            </td>
                            <td class="price">
                            <span>
                                {{ item.accountAmount }}
                            </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="payment">
                    <span>
                        付款方式
                    </span>
                    <div class="payment-zhifu" ng-switch on="{{ item.payType }}">
                        <strong ng-switch-when="1">
                            担保支付
                        </strong>
                        <strong ng-switch-when="3">
                            授信支付
                        </strong>
                        <strong ng-switch-when="2">
                            实时到账
                        </strong>
                        <strong ng-switch-when="4">
                            账期支付
                        </strong>
                    </div>

                    <img src="assets/images/tb-received/arrow.png" alt="">
                </div>
            </div>

            <div class="add-account-record" hm-tap="detail.addRecord()">
                <img src="assets/images/tb-received/add.png" alt="">
                <span>添加结算记录</span>
            </div>
        </div>
        <div class="sale-man">
            <section class="title">
                <span>
                    销售代表
                </span>
            </section>
            <div class="content">
                <!--<img src="assets/images/tb-received/arrow.png" alt="">-->
                <table>
                    <tr>
                        <td>
                            <span>
                                销售代表
                            </span>
                        </td>
                        <td>
                            <strong class="textOverflow">
                                {{ detail.data.saleManName }}
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                联系电话
                            </span>
                        </td>
                        <td>
                            <strong class="textOverflow">
                                {{ detail.data.saleManTel }}
                            </strong>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<span class="bz">-->
                                <!--备注-->
                            <!--</span>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<p>-->
                                <!--内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容-->
                            <!--</p>-->
                        <!--</td>-->
                    <!--</tr>-->
                </table>
            </div>
            <div class="add-account-record">
                <img src="assets/images/tb-received/add.png" alt="">
                <span>指定销售代表</span>
            </div>
        </div>
        <div class="purchase-bz">
            <section class="title">
                <span>采购备注</span>
            </section>
            <p>
                {{ detail.data.orderNotes }}
            </p>
            <!--<div class="content">-->
                <!--<div>-->
                    <!--<input type="text" placeholder="由供应商填写备注">-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="tb-confirm-detil-wrapper">
            <div class="btn">
            <span hm-tap="detail.reject()">
                拒绝订单
            </span>
                <span hm-tap="detail.receivedOrder()">
                接收订单
            </span>
            <span hm-tap="detail.modifyOrder()">
                提交修改
            </span>
            </div>
        </div>

        <!--<div class="btn-received">-->
            <!--<span hm-tap="detail.reject()">-->
                <!--拒绝订单-->
            <!--</span>-->
            <!--<span hm-tap="detail.receivedOrder()">-->
                <!--接收订单-->
            <!--</span>-->
        <!--</div>-->
    </div>
</body>
</html>