<!DOCTYPE html>
<html ng-app="cgmall" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>商品修改</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="assets/css/common/yang-common.min.css">
    <link rel="stylesheet" href="assets/css/tb-submit/goods-opera.min.css">
    <link rel="stylesheet" href="assets/css/tb-submit/goods-update.min.css">
    <link rel="stylesheet" href="assets/css/tb-received/tb-received.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/goodsreject/dataOpera.js"></script>
    <script src="assets/js/tb-received/goods-update.js"></script>
    <script src="assets/js/directives/natural-number.js"></script>
    <script src="assets/js/directives/positive-number.js"></script>
</head>
<body ng-cloak ng-controller="GoodsUpdateCtrl" style="height: 100%;background: white;">
<div class="info-list">
    <div class="info-list-title">{{data.name}}</div>
    <div class="info">
        <div class="info-title">品牌</div>
        <div class="info-desc">{{data.brand || '无'}}</div>
    </div>
    <div class="info">
        <div class="info-title">厂家</div>
        <div class="info-desc">{{data.manu}}</div>
    </div>
    <div class="info">
        <div class="info-title">规格</div>
        <div class="info-desc">{{data.dimension}}</div>
    </div>
    <div class="info">
        <div class="info-title">单价</div>
        <div class="info-desc price">&yen;{{data.price | number: 4}}</div>
    </div>
    <div class="info info-exist-input">
        <div class="info-title">数量</div>
        <div class="info-desc">
            <div class="num-choose">
                <span class="reduce" ng-class="{disabled: redIsDis}" hm-tap="numReduce()">-</span>
                <input type="number" ng-model="data.orderQty" natural-number>
                <span class="add" ng-class="{disabled: addIsDis}"  hm-tap="numAdd()">+</span>
            </div>
        </div>
    </div>

    <div ng-if="data.bargain">
        <div class="info info-exist-input">
            <div class="info-title">改后价格</div>
            <input type="number" class="info-desc info-desc-input" ng-model="data.changeToPrice" positive-number>
        </div>
        <div class="info info-exist-input">
            <div class="info-title">议价备注</div>
            <textarea class="info-desc info-desc-textarea" ng-model="data.bargainNotes"></textarea>
        </div>
    </div>
    <div class="info info-exist-input" ng-show="ifSelect === 1">
        <div class="info-title">最小起订量</div>
        <div class="info-desc">
            <div class="num-choose" ng-init="data.minNum = 1">
                <span class="reduce" ng-class="{disabled: redIsDis}" hm-tap="minNumReduce()">-</span>
                <input type="number" ng-model="data.minNum" natural-number ng-blur="ifNumber(data.minNum)">
                <span class="add" ng-class="{disabled: addIsDis}"  hm-tap="minNumAdd()">+</span>
            </div>
        </div>
    </div>
    <div class="info tb-received-goodsdetil-wrapper" ng-if="data.bargain">
        <div class="wrapper" style="padding:0;">
            <table>
                <tr>
                    <td>
                    <span>
                        生成专供
                    </span>
                    </td>
                    <td class="edit">
                        <ul class="select-btn clearfix">
                            <li class="clearfix" hm-tap="majorSupply($event,0)">
                                <input type="hidden" ng-model="ifSelect">
                                <img src="assets/images/tb-received/{{ 0 === ifSelect ? 'type_selected' : 'type_unselect' }}.png" alt="" style="margin-top: 0.6rem;">
                                <small>
                                    否
                                </small>
                            </li>
                            <li class="clearfix" hm-tap="majorSupply($event,1)">
                                <img src="assets/images/tb-received/{{ 1 === ifSelect ? 'type_selected' : 'type_unselect' }}.png" alt="" style="margin-top: 0.6rem;">
                                <small>
                                    是
                                </small>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<footer class="foot-fixed">
    <div class="btn btn-default" hm-tap="back()">取消</div>
    <div class="btn btn-primary" hm-tap="confirm()">确定</div>
</footer>

</body>
</html>