<!DOCTYPE html>
<html ng-app="cgmall" class="tb-received-addrecord-html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>待接收-添加结算记录</title>
    <link rel="stylesheet" href="assets/css/tb-received/tb-received.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tb-received/tb-received-addrecord.js"></script>
</head>
<body ng-controller="Addrecord as addrecord" ng-cloak>
    <div class="tb-received-addrecord-wrapper">
        <div class="title clearfix">
            <img src="assets/images/tb-received/bankcard.png" alt="">
            <span>付款方式</span>
        </div>
        <ul class="type">
            <div class="content clearfix">
                <li class="clearfix" ng-repeat="item in addrecord.paymentType" hm-tap="addrecord.selectType($index)">
                    <div class="content clearfix">
                        <img ng-src="assets/images/tb-received/{{ addrecord.liIndex === $index ? 'type_selected' : 'type_unselect' }}.png" alt="">
                    <span>
                        {{ item.name }}
                    </span>
                    </div>
                </li>
            </div>

        </ul>
        <div class="info" >
            <section class="msg-money msg-auth" ng-show="addrecord.showShouxin">
                <span>授信金额</span>
                <strong>
                    ￥{{ addrecord.creditInfo }}
                </strong>
            </section>
            <section class="msg-money msg-auth" ng-show="addrecord.dingdan">
                <span>订单金额</span>
                <strong>
                    ￥{{ addrecord.totalAmount  }}
                </strong>
            </section>
            <section class="msg-money msg-default">
                <span>应付金额</span>
                <strong>
                    ￥{{ addrecord.shouldPay }}
                </strong>
            </section>
            <div class="money-input clearfix" ng-init="addrecord.payrange = '本次支付额度'" style="margin-bottom: 1.1rem;">
                <span>
                    {{ addrecord.payrange }}
                </span>
                <div>
                    <input type="text" ng-model="addrecord.money">
                </div>
            </div>
            <div class="date clearfix" ng-show="addrecord.selectDate">
                <span>
                    支付日期
                </span>
                <div class="clearfix" hm-tap="addrecord.getCalendar()">
                    <strong>{{ payDate | date: 'yyyy-MM-dd'}}</strong>
                    <img src="assets/images/tb-received/down.png" alt="">
                </div>
                <small>
                    结算日期必须大于2天
                </small>
            </div>

            <div class="txt-msg-box" ng-switch on="addrecord.showpaytext">
                <p class="txt-msg" ng-switch-when="danbao">
                    备注:担保支付需提前支付，但只有在<span>(确认交收)</span>后才会将货款结算给卖方
                </p>
                <p class="txt-msg" ng-switch-when="dingdan">
                    备注: 账期支付属于先货后款，待买方<span>(确认交收)</span>后，应收应付记录将自动生效
                </p>
                <p ng-switch-default>

                </p>
            </div>

        </div>

        <div class="btn">
            <button hm-tap="addrecord.addrecord(addrecord.money, payDate)">确定</button>
            <button>取消</button>
        </div>
    </div>
</body>
</html>