<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="assets/css/common/yang-common.min.css">
    <link rel="stylesheet" href="assets/css/tb-submit/goods-opera.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tb-submit/goods-add.js"></script>
</head>
<body ng-cloak ng-controller="GoodsAddCtrl">

    <ul class="item-list-radio">
        <li ng-repeat="item in goodsList">
            <div class="left">
                <input type="radio" name="item" class="item-radio" ng-click="select()">
            </div>
            <div class="right item">
                <h3 class="item-name">{{item.name}}</h3>
                <div class="item-info">
                    <div class="item-info-name">规格</div>
                    <div class="item-info-desc">{{item.dimension}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">厂家</div>
                    <div class="item-info-desc">{{item.manu}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">单价</div>
                    <div class="item-info-desc price">&yen;{{item.price | number: 4}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">包装</div>
                    <div class="item-info-desc">{{item.pack || '无'}}</div>
                </div>
                <div class="item-info">
                    <div class="item-info-name">销售说明</div>
                    <div class="item-info-desc">{{item.saleContent || '无'}}</div>
                </div>
            </div>
        </li>
    </ul>

</body>
</html>