<!DOCTYPE html>
<html ng-app="cgmall">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" href="assets/css/common/yang-common.min.css">
    <link rel="stylesheet" href="assets/css/tb-submit/order-detail.min.css">
    <script src="assets/js/lib/angular.min.js"></script>
    <script src="assets/js/lib/hammer.min.js"></script>
    <script src="assets/js/lib/angular-hammer.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/goodsreject/dataOpera.js"></script>
    <script src="assets/js/tb-submit/order-detail.js"></script>
</head>
<body ng-cloak ng-controller="OrderDetailCtrl">

    <div class="card">
        <div class="card-body">
            <div class="info-list">
                <div class="info">
                    <div class="info-title">订单代码</div>
                    <div class="info-desc">{{data.orderNo}}</div>
                </div>
                <div class="info" ng-if="!data.saleMan">
                    <div class="info-title">供应商</div>
                    <div class="info-desc">{{data.supplier}}</div>
                </div>
                <div class="info" ng-if="data.saleMan">
                    <div class="info-title">销售代表</div>
                    <div class="info-desc">{{data.saleMan}}</div>
                </div>
                <div class="info">
                    <div class="info-title">联系电话</div>
                    <div class="info-desc">{{data.supplierTel || '无'}}</div>
                </div>
                <div class="info">
                    <div class="info-title">订单金额</div>
                    <div class="info-desc price">&yen;{{data.totalAmount | number: 2}}</div>
                </div>
            </div>
        </div>
    </div>

    <!--收货地址S-->
    <div class="card">
        <div class="card-head">
            <h2 class="card-hd-title">收货信息</h2>
        </div>
        <div class="card-body item-bill">
            <div class="item-list">
                <a href="javascript:void(0)"
                   class="item item-link"
                   hm-tap="goToAddressManage()">
                    <div style="color: #4b4b4b;" ng-if="!data.receiverAddress">您还没有创建地址，请创建您的地址</div>
                    <div ng-if="data.receiverAddress">
                        <div class="item-info">
                            <div class="item-info-name">收货人</div>
                            <div class="item-info-desc">{{addressInfoData.people}}</div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-name">联系电话</div>
                            <div class="item-info-desc">{{addressInfoData.phone}}</div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-name">收货地址</div>
                            <div class="item-info-desc">{{addressInfoData.address}}</div>
                        </div>
                        <div class="item-info">
                            <div class="item-info-name">发票抬头</div>
                            <div class="item-info-desc">{{addressInfoData.invoice}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--收货地址E-->

    <div class="card">
        <div class="card-head">
            <h2 class="card-hd-title">货物清单</h2>
            <a href="javascript:void(0)" class="card-hd-link" hm-tap="goToItemList()">全部商品 ({{data.goodsList.length}})</a>
        </div>
        <div class="card-body item-bill">
            <div class="item-list">
                <a href="javascript:void(0)"
                   class="item item-link"
                   ng-class="{'mark-update':item.changeType==2, 'mark-barg':item.bargain&&item.changeType!=2, 'mark-delete':!item.bargain&&item.changeType==1, 'mark-add':!item.bargain&&item.changeType==3}"
                   ng-repeat="item in data.goodsList.slice(0,2)"
                   hm-tap="goToItemDetail()">
                    <h3 class="item-name">{{item.goodsName}}</h3>
                    <div class="item-info">
                        <div class="item-info-name">规格</div>
                        <div class="item-info-desc">{{item.dimension}}</div>
                    </div>
                    <div class="item-info">
                        <div class="item-info-name">采购数量</div>
                        <div class="item-info-desc">{{item.orderQty + item.unit}}</div>
                    </div>
                    <div class="item-info">
                        <div class="item-info-name">单价</div>
                        <div class="item-info-desc price">&yen;{{item.salePrice | number: 4 }}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-head">
            <h2 class="card-hd-title">支付方式</h2>
            <select class="card-hd-select"
                    ng-model="data.settlementType"
                    ng-options="type.value as type.name for type in settleTypes">
            </select>
        </div>
        <div class="card-body" ng-if="data.balanceList.length > 0 && data.settlementType == 2">
            <div class="info-list info-list-link"
                 ng-repeat="info in data.balanceList"
                 hm-tap="goToSettlDetail()">
                <div class="info">
                    <div class="info-title">结算单号</div>
                    <div class="info-desc">{{info.settlementNo}}</div>
                </div>
                <div class="info">
                    <div class="info-title">订单金额</div>
                    <div class="info-desc price">&yen;{{info.accountAmount | number: 2}}</div>
                </div>
                <div class="info">
                    <div class="info-title">付款方式</div>
                    <div class="info-desc">{{info.payType == 1 ? '担保支付': '账期支付'}}</div>
                </div>
            </div>
        </div>
        <div class="card-foot" ng-if="isAllowAdd && data.settlementType == 2">
            <a href="javascript:void(0)" class="settl-add" hm-tap="goToSettlAdd()">
                <span>添加支付方式</span>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-head">
            <h2 class="card-hd-title">订单备注</h2>
        </div>
        <div class="card-body">
            <textarea class="remark" placeholder="请输入订单相关的备注" ng-model="data.notes"></textarea>
        </div>
    </div>

    <footer class="foot-fixed">
        <div class="btn btn-default" hm-tap="cancelOrder()">取消</div>
        <div class="btn btn-primary" hm-tap="commitOrder()">提交</div>
    </footer>

</body>
</html>