@import "../reset";
@import "../mixins";
.tb-deliver-odetail, .delivering-odetail, .received-odetail {
  padding-bottom: (110/27)+rem;
  background: #F6F9F9;
  .left-side {
    float: left;
    width: (156/27)+rem;
    color: #808080;
  }
  .right-side {
    float: left;
    width: (503/27)+rem;
    color: #4B4B4B;
  }
  .color {
    color: #FE5534;
  }
  .color2 {
    color: #2CBCAD;
  }
}
.top-block {
  position: relative;
  padding: (43/27)+rem (28/27)+rem (28/27)+rem;
  margin-bottom: (18/27)+rem;
  background: #fff;
  font-size: (30/27)+rem;
  &:before {
    @include border(bottom);
  }
  li {
    min-height: (42/27)+rem;
    margin-bottom: (16/27)+rem;
    line-height: (42/27)+rem;
    @extend .clearfix;
  }
}
.item-block {
  position: relative;
  margin-bottom: (18/27)+rem;
  .tit {
    position: relative;
    height: (90/27)+rem;
    padding: 0 (28/27)+rem;
    background: #fff;
    font-size: (30/27)+rem;
    line-height: (90/27)+rem;
    @extend .clearfix;
    &:before {
      @include border(bottom);
    }
    .left-name {
      float: left;
    }
    .right-num {
      float: right;
      color: #808080;
      font-size: (28/27)+rem;
    }
  }
  .item-block-con {
    position: relative;
    background: #fff;
    &:before {
      @include border(bottom);
    }
    .goods .special {
      padding-bottom: 0;
    }
    a.goods {
      &:after {
        position: absolute;
        right: (28/27)+rem;;
        top: 50%;
        content: '';
        width: (17/27)+rem;
        height: (34/27)+rem;
        margin-top: (-17/27)+rem;
        background: url("../../images/order-detail/arrow-right.png");
        background-size: 100% 100%;
      }
    }
    .goods {
      position: relative;
      display: block;
      &:before {
        position: absolute;
        bottom: -1px;
        content: '';
        width: 100%;
        height: 1px;
        background: url("../../images/order-detail/dash-line.png");
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }
      ul {
        padding: (28/27)+rem;
      }
      li {
        min-height: (40/27)+rem;
        margin-bottom: (19/27)+rem;
        line-height: (40/27)+rem;
        @extend  .clearfix;
      }
      li:last-child {
        margin-bottom: 0;
      }
      .goods-name {
        margin-bottom: (21/27)+rem;
        color: #4B4B4B;
        font-size: (30/27)+rem;
      }
      .pay-method {
        position: relative;
        display: block;
        height: (96/27)+rem;
        line-height: (96/27)+rem;;
        @extend .clearfix;
        &:before {
          position: absolute;
          top: -1px;
          content: '';
          width: 100%;
          height: 1px;
          background: url("../../images/order-detail/dash-line.png");
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
        }
        &:after {
          position: absolute;
          right: (28/27)+rem;;
          top: 50%;
          content: '';
          width: (17/27)+rem;
          height: (34/27)+rem;
          margin-top: (-17/27)+rem;
          background: url("../../images/order-detail/arrow-right.png");
          background-size: 100% 100%;
        }
        div {
          padding: 0 (28/27)+rem;
        }
      }
    }
    .goods:nth-last-child(1):before {
      display: none;
    }
  }
}