@import "../reset";
@import "../mixins";
body {
  background: #ed4137;
  padding-bottom: (36/28)+rem;
}
.activity {
  padding-top: (60/28)+rem;
  overflow-x: hidden;
}
.backBtn {
  position: fixed;
  z-index: 9000;
  right: 0;
  top: 20px;
  width: (74/28)+rem;
  height: (74/28)+rem;
  background: url(../../images/luck-draw-activity/closeBtn.png);
  background-size: 100% 100%;
}
.top {
  height: (315/28)+rem;
  background: #ed4037 url(../../images/luck-draw-activity/top.png) no-repeat (50/28)+rem (92/28)+rem;
  background-size: (662/28)+rem (200/28)+rem;
}
.banner {
  height: (842/28)+rem;
  margin-top: (-25/28)+rem;
  background: #ed4037 url(../../images/luck-draw-activity/banner.png) no-repeat;
  background-size: 100% 100%;
}
.luck-draw {
  position: relative;
  width: (694/28)+rem;
  height: (694/28)+rem;
  margin: (-90/28)+rem auto 0;
  .pointer {
    position: absolute;
    top: (215/28)+rem;
    left: (246/28)+rem;
    z-index: 3;
    width: (197/28)+rem;
    height: (234/28)+rem;
    background: url(../../images/luck-draw-activity/point.png) no-repeat;
    background-size: (197/28)+rem (234/28)+rem;
    &.disabled {
      background: url(../../images/luck-draw-activity/point-no.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .rotate {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: (694/28)+rem;
    height: (694/28)+rem;
    background: url(../../images/luck-draw-activity/pan.png) no-repeat;
    background-size: 100% 100%;
  }
}
//@keyframes rotate-draw {
//  from {
//    -webkit-transform: rotate(0deg);
//  }
//  to {
//    /* （360N + 0） 特等
//       （360N + 60）1等
//       （360N + 120）2等
//       （360N + 180）3等
//       （360N + 240）4等
//       （360N + 300）未中奖
//    */
//    -webkit-transform: rotate(420deg);
//  }
//}
.start {
  animation-name: rotate-draw;
  -webkit-animation-name: rotate-draw;
  -moz-animation-name: rotate-draw;
  -o-animation-name: rotate-draw;
  -ms-animation-name: rotate-draw;

  animation-duration: 4s;
  -webkit-animation-duration: 4s;/*运动时间*/
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;

  animation-timing-function: cubic-bezier(.43,.33,.04,.81);
  -webkit-animation-timing-function: cubic-bezier(.43,.33,.04,.81);
  -moz-animation-timing-function: cubic-bezier(.43,.33,.04,.81);
  -ms-animation-timing-function: cubic-bezier(.43,.33,.04,.81);
  -o-animation-timing-function: cubic-bezier(.43,.33,.04,.81);
  //animation-timing-function: cubic-bezier(.5, 0, .2, .8);     /*运动曲线*/

  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;                                         /*延迟时间*/

  animation-iteration-count: 1;                               /*动画播放次数*/
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;   	                        /*在动画结束后（由 animation-iteration-count 决定），动画将应用该属性值。*/
}

.link {
  padding: 0 (145/28)+rem;
  margin: (38/28)+rem 0 (180/28)+rem;
  position: relative;
  &:after {
    position: absolute;
    left: 50%;
    content: '';
    width: (4/28)+rem;
    height: (27/28)+rem;
    margin-left: (2/28)+rem;
    background: #ffeb8c;
  }
  a {
    float: left;
    color: #ffeb8c;
    font-size: (24/28)+rem;
    text-decoration: underline;
    &:nth-child(2) {
      float: right;
    }
  }
}
.intro {
  position: relative;
  .tit {
    position: absolute;
    top: (-78/28)+rem;
    left: 50%;
    width: (543/28)+rem;
    height: (103/28)+rem;
    margin-left: (-543/2/28)+rem;
    background: url(../../images/luck-draw-activity/title.png) no-repeat;
    background-size: 100% 100%;
    color: #fe7834;
    font-size: (48/28)+rem;
    font-weight: bold;
    line-height: (80/28)+rem;
    text-align: center;
  }
  .con {
    padding: (35/28)+rem 0;
    width: (688/28)+rem;
    padding-left: (60/28)+rem;
    margin: 0 auto;
    background: #fff2c5;
    border-radius: (13/28)+rem;
    box-sizing: border-box;
    h3 {
      line-height: (90/28)+rem;
      color: #ed4137;
      font-size: (28/28)+rem;
    }
    p {
      width: (590/28)+rem;
      padding-left: (24/28)+rem;
      margin: 0 0 (28/28)+rem;
      color: #444;
      font-size: (24/28)+rem;
      clear: both;
      box-sizing: border-box;
      @extend .clearfix;
      em,span {
        float: left;
      }
      em {
        width: (40/28)+rem;
      }
      span {
        width: (523/28)+rem;
      }
    }
  }
}
.mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  .pop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: (600/28)+rem;
    height: (550/28)+rem;
    margin: auto;
    background: #fff2c5;
    border-radius: (15/28)+rem;
    text-align: center;
    .tit {
      position: absolute;
      top: (-78/28)+rem;
      left: 50%;
      width: (543/28)+rem;
      height: (103/28)+rem;
      margin-left: (-543/2/28)+rem;
      background: url(../../images/luck-draw-activity/title.png) no-repeat;
      background-size: 100% 100%;
      color: #fe7834;
      font-size: (48/28)+rem;
      font-weight: bold;
      line-height: (80/28)+rem;
    }
    .con {
      width: (600/28)+rem;
      height: (480/28)+rem;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      //padding-top: (172/28)+rem;
      h3 {
        //margin-bottom: (56/28)+rem;
        color: #e26a00;
        font-size: (36/28)+rem;
        line-height: (100/28)+rem;
      }
      .jiang {
        color: #ed4137;
        font-size: (48/28)+rem;
        font-weight: bold;
      }
    }
    .close {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: (90/28)+rem;
      color: #fe7834;
      &:after {
        @include border(top,#f0dd9a);
      }
      line-height: (90/28)+rem;
    }
  }
}