@import "../_reset.scss";
.main-mall {
  background: #fff;
  .focus {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: (288/27)+rem;
    .hd {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: (14/27)+rem;
      bottom: (12/27)+rem;
      ul {
        position: absolute;
        right: (16/27)+rem;
        display: inline-block;
        font-size: 0;
        vertical-align: top;
        .on {
          background: #fff;
        }
        li {
          display: inline-block;
          width: (14/27)+rem;
          height: (14/27)+rem;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background: rgba(118,118,118,0.5);
          margin: 0 5px;
          vertical-align: top;
          overflow: hidden;
        }
      }
    }
    .bd {
      position: relative;
      z-index: 0;
      img {
        width: 100%;
        height: (288/27)+rem;
      }
    }
  }
  .commodity-street {
    .con {
      padding: (8/27)+rem;
      background: #f6f9f9;
      a {
        position: relative;
        float: left;
        width: (34400/700)+%;
        height: (450/27)+rem;
        margin-right: (8/27)+rem;
        margin-bottom: (8/27)+rem;
        background: #fff;
        &:nth-child(2n) {
          margin-right:0;
        }
        img {
          display: block;
          width: 100%;
          height: (314/27)+rem;
          margin: 0 auto;
        }
        p {
          padding-left: (10/27)+rem;
          margin-bottom: (18/27)+rem;
        }
        .goods-name {
          color: #4b4b4b;
          font-size: (26/27)+rem;
        }
        .format {
          color: #bdbdbd;
          font-size: (21/27)+rem;
        }
        .com-name {
          color: #bdbdbd;
          font-size: (21/27)+rem;
        }
        //span {
        //  position: absolute;
        //  bottom: (22/27)+rem;
        //  padding: 0 (32/27)+rem;
        //  color: #808080;
        //}
      }
    }
  }
}