@charset "UTF-8";
@import "../mixins";

body {padding-bottom: (90/27)+rem;}

.num-choose {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  width: (338/27)+rem;

  color: #636363;
  text-align: center;
  line-height: (56/27)+rem;

  &:before {@include border(top)}
  &:after {@include border(bottom)}

  .reduce,
  .add {
    position: relative;
    display: block;
    width: (56/27)+rem;
    height: (56/27)+rem;
    background: #f8f8f8;
    font-size: (40/27)+rem;

    &:before {@include border(right)}
    &:after {@include border(left)}
    &.disabled {color: #d3d3d3}
  }
  input {
    width: (226/27)+rem;
    height: (55/27)+rem;
    background: #fff;
    border: none;
    -webkit-appearance: none;
    font-size: (26/27)+rem;
    color: #666;
    text-align: center;
  }
}
