@charset "UTF-8";
@import "../mixins";

body,html { background: #fff; }

.settl-add {
  .settl-add-title {
    position: relative;
    box-sizing: border-box;
    padding: (15/27)+rem (25/27)+rem;
    background: url(../../images/tb-submit/bank-card.png) no-repeat (18/27)+rem center;
    background-size: (45/27)+rem (28/27)+rem;
    font-size: (28/27)+rem;
    text-indent: (60/27)+rem;

    &:after {@include border(bottom)}
  }
  .tab-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;
    box-sizing: border-box;
    padding: (25/27)+rem;
    padding-bottom: (19/27)+rem;
    &:after {@include border(bottom)}

    .tab-item {
      margin-right: (105/27)+rem;
      font-size: (26/27)+rem;
      color: #c5c5c5;
      line-height: (56/27)+rem;

      &.active {
        color: #4b4b4b;
        .radio {
          position: relative;
          background: #fff;
          border: 1px solid #d5d5d5;
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            width: (20/27)+rem;
            height: (20/27)+rem;
            background: #2CBCAD;
            border-radius: 50%;
            margin: (-10/27)+rem (-10/27)+rem;
          }
        }
      }

      > * {display: inline-block}
      span {vertical-align: (6/27)+rem;}
      .radio {
        width: (28/27)+rem;
        height: (28/27)+rem;
        background: #ececec;
        margin-right: (15/27)+rem;
        border-radius: 50%;
      }
    }
  }
  .tab-container {
    padding: (10/27)+rem 0;
    .info {
      font-size: (26/27)+rem;
      margin: (18/27)+rem 0;
      .info-title { width: (194/27)+rem;}
      .num-input {
        width: (466/27)+rem;
        height: (58/27)+rem;
        box-sizing: border-box;
        border: 1px solid rgba(#cacaca, .3);
        font-size: (26/27)+rem;
        color: #4b4b4b;
        text-indent: (10/27)+rem;
      }
      input.rili {
        background:url(../../images/purchase/rili.png) 96% 50% no-repeat;
        background-size:1.14815rem 1.14815rem;
      }
    }
    .note {
      box-sizing: border-box;
      padding: (22/27)+rem (25/27)+rem 0;
      font-size: (25/27)+rem;
      color: #808080;
      line-height: (36/27)+rem;
      em {color: #FE5534}
    }
  }
}