@charset "UTF-8";

body,html {background: #fff;}
.note {
  padding: 0 (25/27)+rem;
  margin-top: (20/27)+rem;
  font-size: (28/27)+rem;
  color: #808080;
  line-height: (36/27)+rem;

  em {
    margin: 0 (10/27)+rem;
    color: #FE5534;
  }
}