@charset "UTF-8";
@import "../reset";
html,body {background: #fff;}
.head {
  height: (210/27)+rem;
  box-sizing: border-box;
  background: #2cbcad;
  text-align: center;
  @extend .clearfix;

  img {
    display: inline-block;
    width: (156/27)+rem;
    height: (120/27)+rem;
    margin-top: (50/27)+rem;
    vertical-align: middle;
  }
  .total {
    display: inline-block;
    margin: 0 (20/27)+rem;
    vertical-align: middle;
    h1 {
      margin-top: (50/27)+rem;
      font-size: (27/27)+rem;
      color: #fff;
      line-height: (50/27)+rem;
      text-align: left;
    }
    p {
      max-width: (500/27)+rem;
      font-size: (36/27)+rem;
      color: #fff;
      line-height: (58/27)+rem;
      @extend .textOverflow;
    }
    em {font-size: (58/27)+rem;}
  }
}
.bill {
  position: relative;
  padding-bottom: 20px;
  background: url(../../images/tb-submit/dotted.png) repeat-x center bottom;
  .bill-name {
    margin: (20/27)+rem;
    margin-bottom: 0;
    font-size: (32/27)+rem;
    color: #4B4B4B;
    line-height: (60/27)+rem;
  }
  .bill-delete {
    position: absolute;
    right: 0;
    top: (5/27)+rem;
    width: (100/27)+rem;
    height: (50/27)+rem;
    background: #CECECE;
    border-top-left-radius: (25/27)+rem;
    border-bottom-left-radius: (25/27)+rem;

    font-size: (27/27)+rem;
    color: #fff;
    text-align: center;
    text-indent: (15/27)+rem;
    line-height: (50/27)+rem;
  }
}
.no-data {
  img {
    display: block;
    width: (168/27)+rem;
    height: (146/27)+rem;
    margin: (150/27)+rem auto (35/27)+rem;
  }
  p {
    font-size: (27/27)+rem;
    color: #808080;
    text-align: center;
  }
}
