@charset "UTF-8";
@import "../mixins";

body {padding-top: (85/27)+rem;}
.sort {
  position: fixed;
  top: 0;
  z-index: 100;
  height: (85/27)+rem;
  background: #fff;
  box-sizing: border-box;
  padding: (20/27)+rem 0;

  &:after {@include border(bottom, #ddd)}

  > div {
    display: table-cell;
    width: 1%;
    box-sizing: border-box;

    font-size: (30/27)+rem;
    color: #4B4B4B;
    text-align: center;
    line-height: (45/27)+rem;
    vertical-align: middle;
    &:nth-child(n+2):after {@include border(left, #ddd)}
    &.active {
      color: #2CBCAD;
      .arrow {background-image: url(../../images/goodsreject/sort-arrow-up.png);}
      .sort-item-list {display: block}
    }
  }
  i {
    display: inline-block;
    background: none no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
  }
  .arrow {
    width: (20/27)+rem;
    height: (12/27)+rem;
    background-image: url(../../images/goodsreject/sorty-arrow-down.png);
  }
  .order {
    width: (24/27)+rem;
    height: (28/27)+rem;
    background-image: url(../../images/goodsreject/sort-default.png);

    &.asc {background-image: url(../../images/goodsreject/sort-asc.png);}
    &.desc {background-image: url(../../images/goodsreject/sort-desc.png);}
  }
  .sort-item-list {
    display: none;
    position: absolute;
    top: (85/27)+rem;
    left: 0;
    width: (720/27)+rem;
    background: #F6F8F8;

    li {
      position: relative;
      height: (80/27)+rem;
      font-size: (28/27)+rem;
      color: #4B4B4B;
      text-align: left;
      text-indent: (50/27)+rem;
      line-height: (80/27)+rem;
      &.active {
        background: #fff;
        color: #2CBCAD;
      }
      &:after {@include border(bottom, #ddd)}
    }
  }
}
#mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  //display: none;
  width: 100%;
  height: 100%;
  background: rgba(#4A4A4A, .5);
}