html {
  color: #000;
  background: #f5f5f6;
  font-family: sans-serif;
  font-size: 27px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong, figure, figcaption {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background: #f5f5f6; }

input {
  border: none; }

button {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #00c;
  outline: none; }

var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, b {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

i {
  font-style: normal; }

input, button, textarea, select, optgroup, option {
  outline: none; }

input, button, textarea, select {
  *font-size: 100%; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/*body{-webkit-user-select:none;-webkit-text-size-adjust:none;}*/
* {
  -webkit-tap-highlight-color: transparent; }

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  *zoom: 1; }

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.my {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 3.21429rem; }
  .my .top {
    position: relative;
    height: 12.14286rem;
    background: url(../../images/my/b.png);
    background-size: 100% 100%; }
    .my .top .switch {
      float: left;
      margin: 1.5rem 0 0 0.71429rem;
      color: #fff;
      font-size: 0.85714rem; }
    .my .top .icon {
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: 2.85714rem;
      width: 4.92857rem;
      height: 4.92857rem;
      margin-left: -2.46429rem;
      border: 1px solid #fff;
      border-radius: 100%; }
      .my .top .icon img {
        width: 4.92857rem;
        height: 4.92857rem; }
    .my .top .name {
      position: absolute;
      bottom: 1.78571rem;
      width: 100%;
      font-size: 1.07143rem;
      color: #fff;
      text-align: center; }
  .my .middle {
    background: #F6F8F8; }
    .my .middle .block .tit {
      position: relative;
      color: #4b4b4b;
      font-size: 1.07143rem;
      line-height: 3.14286rem;
      background: #fff;
      text-indent: 0.71429rem; }
      .my .middle .block .tit:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 100%;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
    .my .middle .block .con a {
      display: table-cell;
      width: 1%;
      padding: 3.46429rem 0 1rem 0;
      color: #808080;
      font-size: 0.92857rem;
      text-align: center; }
    .my .middle .block .con .djd {
      position: relative;
      background: #fff url(../../images/my/djd.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
      .my .middle .block .con .djd:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5); }
    .my .middle .block .con .dfh {
      position: relative;
      background: #fff url(../../images/my/dfh.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
      .my .middle .block .con .dfh:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5); }
    .my .middle .block .con .js {
      position: relative;
      background: #fff url(../../images/my/js.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
      .my .middle .block .con .js:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5); }
    .my .middle .block .con .dsgl {
      position: relative;
      background: #fff url(../../images/my/dsgl.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
    .my .middle .block .con .dqr {
      position: relative;
      background: #fff url(../../images/my/dqr.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
      .my .middle .block .con .dqr:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5); }
      .my .middle .block .con .dqr:before {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
    .my .middle .block .con .th {
      position: relative;
      background: #fff url(../../images/my/tuih.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
      .my .middle .block .con .th:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5); }
      .my .middle .block .con .th:before {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
    .my .middle .block .con .qg {
      position: relative;
      background: #fff url(../../images/my/qg.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
      .my .middle .block .con .qg:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5); }
      .my .middle .block .con .qg:before {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
    .my .middle .block .con .qrsh {
      position: relative;
      background: #fff url(../../images/my/qrsh.png) center 1.17857rem no-repeat;
      background-size: 2.14286rem 1.78571rem; }
      .my .middle .block .con .qrsh:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 1px;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5); }
      .my .middle .block .con .qrsh:before {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #e8e8e8;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
