@charset "UTF-8";

@mixin border($position, $color: #e8e8e8) {
  position: absolute;
  z-index: 1;
  content: '';
  display: block;
  background: $color;

  @if $position == left or $position == top {
    top: 0;
    left: 0;
  }@else if $position == right or $position == bottom {
    bottom: 0;
    right: 0;
  }

  @if $position == left or $position == right {
    height: 100%;
    width: 1px;
  }@else if $position == top or $position == bottom {
    height: 1px;
    width: 100%;
  }

  @if $position == left {
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
  }@else if $position == right {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
  }@else if $position == top {
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }@else if $position == bottom {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}