html {
  color: #000;
  background: #f5f5f6;
  font-family: sans-serif;
  font-size: 27px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong, figure, figcaption {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background: #f5f5f6; }

input {
  border: none; }

button {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #00c;
  outline: none; }

var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, b {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

i {
  font-style: normal; }

input, button, textarea, select, optgroup, option {
  outline: none; }

input, button, textarea, select {
  *font-size: 100%; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/*body{-webkit-user-select:none;-webkit-text-size-adjust:none;}*/
* {
  -webkit-tap-highlight-color: transparent; }

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  *zoom: 1; }

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.main-mall {
  background: #fff; }
  .main-mall .focus {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 10.66667rem; }
    .main-mall .focus .hd {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 0.51852rem;
      bottom: 0.44444rem; }
      .main-mall .focus .hd ul {
        position: absolute;
        right: 0.59259rem;
        display: inline-block;
        font-size: 0;
        vertical-align: top; }
        .main-mall .focus .hd ul .on {
          background: #fff; }
        .main-mall .focus .hd ul li {
          display: inline-block;
          width: 0.51852rem;
          height: 0.51852rem;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          background: rgba(118, 118, 118, 0.5);
          margin: 0 5px;
          vertical-align: top;
          overflow: hidden; }
    .main-mall .focus .bd {
      position: relative;
      z-index: 0; }
      .main-mall .focus .bd img {
        width: 100%;
        height: 10.66667rem; }
  .main-mall .commodity-street .con {
    padding: 0.2963rem;
    background: #f6f9f9; }
    .main-mall .commodity-street .con a {
      position: relative;
      float: left;
      width: 49.14286%;
      height: 16.66667rem;
      margin-right: 0.2963rem;
      margin-bottom: 0.2963rem;
      background: #fff; }
      .main-mall .commodity-street .con a:nth-child(2n) {
        margin-right: 0; }
      .main-mall .commodity-street .con a img {
        display: block;
        width: 100%;
        height: 11.62963rem;
        margin: 0 auto; }
      .main-mall .commodity-street .con a p {
        padding-left: 0.37037rem;
        margin-bottom: 0.66667rem; }
      .main-mall .commodity-street .con a .goods-name {
        color: #4b4b4b;
        font-size: 0.96296rem; }
      .main-mall .commodity-street .con a .format {
        color: #bdbdbd;
        font-size: 0.77778rem; }
      .main-mall .commodity-street .con a .com-name {
        color: #bdbdbd;
        font-size: 0.77778rem; }
