body {
  padding-bottom: 3.33333rem; }

.pay-mode.info {
  position: relative;
  height: 3.48148rem;
  margin-top: 0.37037rem;
  background: url(../../images/tb-submit/arrow-right.png) no-repeat 96% center;
  background-size: 0.59259rem 1.18519rem; }
  .pay-mode.info:after {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    background: #e8e8e8;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  .pay-mode.info > * {
    line-height: 3.48148rem; }

.card-foot {
  box-sizing: border-box;
  padding: 1.14815rem 0; }

.settl-add {
  display: block;
  width: 8.51852rem;
  height: 1.18519rem;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 0.96296rem;
  color: #2CBCAD;
  text-align: center; }
  .settl-add span {
    vertical-align: middle; }
  .settl-add:before {
    content: '';
    display: inline-block;
    width: 1.18519rem;
    height: 1.18519rem;
    background: url(../../images/tb-submit/add.png);
    background-size: 1.18519rem 1.18519rem;
    vertical-align: middle; }

.remark {
  display: block;
  width: 24.74074rem;
  height: 9.62963rem;
  box-sizing: border-box;
  padding: 0.74074rem;
  border: none;
  box-shadow: 0 0 1px 1px #ebebeb;
  border-radius: 0.18519rem;
  margin: 0 auto;
  resize: none;
  font-size: 0.96296rem;
  color: #333;
  line-height: 1.33333rem; }

.info-list {
  padding-bottom: 0; }
