body {
  padding-bottom: 3.33333rem; }

.pay-mode.info {
  position: relative;
  height: 3.48148rem;
  background: url(../../images/tb-submit/arrow-right.png) no-repeat 96% center;
  background-size: 0.59259rem 1.18519rem; }
  .pay-mode.info:after {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    background: #e8e8e8;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  .pay-mode.info > * {
    line-height: 3.48148rem; }

.card-foot {
  box-sizing: border-box;
  padding: 1.14815rem 0; }

.settl-add {
  display: block;
  width: 8.51852rem;
  height: 1.18519rem;
  box-sizing: border-box;
  padding-left: 2.22222rem;
  margin: 0 auto;
  background: url(../../images/tb-submit/add.png) no-repeat 0.37037rem center;
  background-size: 1.11111rem 1.11111rem;
  font-size: 0.96296rem;
  color: #2CBCAD; }

.remark {
  display: block;
  width: 24.74074rem;
  height: 9.62963rem;
  box-sizing: border-box;
  padding: 0.74074rem;
  border: none;
  box-shadow: 0 0 1px 1px #ebebeb;
  border-radius: 0.18519rem;
  margin: 0 auto;
  resize: none;
  font-size: 0.96296rem;
  color: #333;
  line-height: 1.33333rem; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  footer .btn {
    display: table-cell;
    width: 1%;
    height: 3.33333rem;
    font-size: 1.03704rem;
    color: #fff;
    text-align: center;
    line-height: 3.33333rem; }
    footer .btn.cancel {
      background: #97e3cf; }
    footer .btn.submit {
      background: #2cbcad; }
