html, body {
  background: #fff; }

h2 {
  margin: 0.74074rem;
  font-size: 1rem;
  color: #4A4A4A; }

input, select {
  display: block;
  width: 25.18519rem;
  height: 2.07407rem;
  margin: 0 0.74074rem 1.11111rem;
  border: 1px solid rgba(221, 221, 221, 0.7);
  -webkit-appearance: none;
  font-size: 1rem;
  text-indent: 0.37037rem;
  color: #808080; }

select {
  position: relative;
  background: url(../../images/goodsreject/arrow-down.png) no-repeat 97% 50%;
  background-size: 0.81481rem 0.44444rem;
  margin-bottom: 1.66667rem; }

.reason, textarea {
  width: 26.66667rem;
  height: 14.07407rem; }

.reason {
  position: relative;
  background: url(../../images/goodsreject/textarea-bg1.png) no-repeat 0.74074rem 0.18519rem;
  background-size: 3.33333rem 1.85185rem; }
  .reason:before {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    background: #ddd;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  .reason:after {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    background: #ddd;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  .reason.no-bg {
    background: none; }

textarea {
  resize: none;
  border: none;
  box-sizing: border-box;
  padding: 0 0.74074rem;
  background: url(../../images/goodsreject/textarea-bg2.png);
  background-size: 26.66667rem 2.40741rem;
  font-size: 1rem;
  color: #808080;
  line-height: 2.40741rem; }
