body {
  padding-top: 3.14815rem; }

.sort {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 3.14815rem;
  background: #fff;
  box-sizing: border-box;
  padding: 0.74074rem 0; }
  .sort:after {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    background: #ddd;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  .sort > div {
    display: table-cell;
    width: 1%;
    box-sizing: border-box;
    font-size: 1.11111rem;
    color: #4B4B4B;
    text-align: center;
    line-height: 1.66667rem;
    vertical-align: middle; }
    .sort > div:nth-child(n+2):after {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background: #ddd;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5); }
    .sort > div.active {
      color: #2CBCAD; }
      .sort > div.active .arrow {
        background-image: url(../../images/goodsreject/sort-arrow-up.png); }
      .sort > div.active .sort-item-list {
        display: block; }
  .sort i {
    display: inline-block;
    background: none no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle; }
  .sort .arrow {
    width: 0.74074rem;
    height: 0.44444rem;
    background-image: url(../../images/goodsreject/sorty-arrow-down.png); }
  .sort .order {
    width: 0.88889rem;
    height: 1.03704rem;
    background-image: url(../../images/goodsreject/sort-default.png); }
    .sort .order.asc {
      background-image: url(../../images/goodsreject/sort-asc.png); }
    .sort .order.desc {
      background-image: url(../../images/goodsreject/sort-desc.png); }
  .sort .sort-item-list {
    display: none;
    position: absolute;
    top: 3.14815rem;
    left: 0;
    width: 26.66667rem;
    background: #F6F8F8; }
    .sort .sort-item-list li {
      position: relative;
      height: 2.96296rem;
      font-size: 1.03704rem;
      color: #4B4B4B;
      text-align: left;
      text-indent: 1.85185rem;
      line-height: 2.96296rem; }
      .sort .sort-item-list li.active {
        background: #fff;
        color: #2CBCAD; }
      .sort .sort-item-list li:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #ddd;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 100%;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }

#mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(74, 74, 74, 0.5); }
