html {
  color: #000;
  background: #f5f5f6;
  font-family: sans-serif;
  font-size: 27px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong, figure, figcaption {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background: #f5f5f6; }

input {
  border: none; }

button {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #00c;
  outline: none; }

var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, b {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

i {
  font-style: normal; }

input, button, textarea, select, optgroup, option {
  outline: none; }

input, button, textarea, select {
  *font-size: 100%; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/*body{-webkit-user-select:none;-webkit-text-size-adjust:none;}*/
* {
  -webkit-tap-highlight-color: transparent; }

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  *zoom: 1; }

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.tb-received-detil-wrapper {
  background: #f6f9f9;
  padding-bottom: 3.48148rem; }
  .tb-received-detil-wrapper .btn-received {
    position: fixed;
    width: 100%;
    height: 3.48148rem;
    z-index: 200;
    bottom: -0.1rem; }
    .tb-received-detil-wrapper .btn-received span {
      float: left;
      width: 50%;
      text-align: center;
      line-height: 3.48148rem;
      color: white; }
    .tb-received-detil-wrapper .btn-received span:nth-child(1) {
      background: #97e3cf; }
    .tb-received-detil-wrapper .btn-received span:nth-child(2) {
      background: #2cbcad; }
  .tb-received-detil-wrapper .status-1 span {
    float: left;
    width: 50%;
    text-align: center;
    line-height: 3.48148rem;
    color: white; }
  .tb-received-detil-wrapper .status-1 span:nth-child(1) {
    background: #97e3cf; }
  .tb-received-detil-wrapper .status-1 span:nth-child(2) {
    background: #2cbcad; }
  .tb-received-detil-wrapper .status-2 span {
    float: left;
    width: 100%;
    text-align: center;
    line-height: 3.48148rem;
    color: white;
    background: #2cbcad; }
  .tb-received-detil-wrapper .status-3 span {
    float: left;
    width: 33.3%;
    text-align: center;
    line-height: 3.48148rem;
    color: white; }
  .tb-received-detil-wrapper .status-3 span:nth-child(1) {
    background: #97e3cf; }
  .tb-received-detil-wrapper .status-3 span:nth-child(2) {
    background: #60cbc1; }
  .tb-received-detil-wrapper .status-3 span:nth-child(3) {
    background: #2cbcad; }
  .tb-received-detil-wrapper .btn {
    position: fixed;
    width: 100%;
    height: 3.48148rem;
    z-index: 200;
    bottom: -0.1rem; }
  .tb-received-detil-wrapper .order-info {
    position: relative;
    padding: 1.11111rem 1.03704rem;
    margin-bottom: 0.74074rem;
    background: #ffffff; }
    .tb-received-detil-wrapper .order-info tr td {
      font-size: 1.11111rem; }
      .tb-received-detil-wrapper .order-info tr td span {
        display: inline-block;
        height: 1.96296rem;
        line-height: 1.96296rem; }
      .tb-received-detil-wrapper .order-info tr td p {
        width: 18rem;
        height: 1.96296rem;
        line-height: 1.96296rem; }
    .tb-received-detil-wrapper .order-info tr td:nth-child(1) {
      width: 5.88889rem; }
      .tb-received-detil-wrapper .order-info tr td:nth-child(1) span {
        color: #808080; }
    .tb-received-detil-wrapper .order-info tr td:nth-child(2) p {
      color: #4B4B4B; }
    .tb-received-detil-wrapper .order-info tr td:nth-child(2) .price {
      color: #fe5534; }
  .tb-received-detil-wrapper .order-info:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #F1F1F1;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0; }
  .tb-received-detil-wrapper .list {
    position: relative;
    background: white;
    font-size: 1.11111rem;
    margin-bottom: 0.48148rem; }
    .tb-received-detil-wrapper .list:after {
      position: absolute;
      content: "";
      height: 1px;
      bottom: 0px;
      left: 0;
      right: 0;
      background: #F1F1F1;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0; }
    .tb-received-detil-wrapper .list .title {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem; }
      .tb-received-detil-wrapper .list .title span {
        float: left;
        color: #000000; }
      .tb-received-detil-wrapper .list .title strong {
        float: right;
        font-size: 1.03704rem;
        color: #808080; }
      .tb-received-detil-wrapper .list .title:after {
        content: "";
        position: absolute;
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
    .tb-received-detil-wrapper .list ul li {
      position: relative;
      font-size: 1.11111rem;
      padding: 0.88889rem 1.11111rem;
      border-bottom: 1px dotted #F1F1F1; }
      .tb-received-detil-wrapper .list ul li .tag {
        position: absolute;
        width: 1.25926rem;
        height: 2.22222rem;
        font-size: 0.66667rem;
        color: white;
        background-size: contain;
        text-align: center;
        top: 0;
        right: 0.6rem; }
      .tb-received-detil-wrapper .list ul li .tag-yijia {
        background: url("../../images/tb-received/tag_green.png") no-repeat;
        background-size: contain; }
      .tb-received-detil-wrapper .list ul li .tag-shanchu {
        background: url("../../images/tb-received/tag_red.png") no-repeat;
        background-size: contain; }
      .tb-received-detil-wrapper .list ul li .tag-xinzeng {
        background: url("../../images/tb-received/tag_blue.png") no-repeat;
        background-size: contain; }
      .tb-received-detil-wrapper .list ul li .tag-xiugai {
        background: url("../../images/tb-received/tag_yellow.png") no-repeat;
        background-size: contain; }
      .tb-received-detil-wrapper .list ul li .arrow {
        position: absolute;
        top: 4.3rem;
        right: 1.5rem; }
        .tb-received-detil-wrapper .list ul li .arrow img {
          width: 0.62963rem;
          height: 1.25926rem; }
      .tb-received-detil-wrapper .list ul li h3 {
        width: 22rem;
        height: 1.4rem;
        margin-bottom: 0.66667rem;
        color: #4B4B4B; }
      .tb-received-detil-wrapper .list ul li table td {
        height: 2.07407rem;
        font-size: 1.03704rem; }
      .tb-received-detil-wrapper .list ul li table td:nth-child(1) {
        width: 4.77778rem;
        color: #808080; }
      .tb-received-detil-wrapper .list ul li table td:nth-child(2) {
        color: #4a4a4a; }
        .tb-received-detil-wrapper .list ul li table td:nth-child(2) span {
          color: #fe5534; }
    .tb-received-detil-wrapper .list ul li:last-child {
      border-bottom: none; }
  .tb-received-detil-wrapper .account {
    background: white;
    margin-bottom: 0.74074rem; }
    .tb-received-detil-wrapper .account .title {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem;
      border-bottom: 1px dotted #F1F1F1; }
      .tb-received-detil-wrapper .account .title span {
        float: left;
        color: #000000; }
      .tb-received-detil-wrapper .account .title .select {
        position: relative;
        float: right;
        width: 4.76rem;
        padding: 0 0.55556rem;
        line-height: 1.8rem;
        border: 1px solid #F1F1F1;
        margin-top: 0.7rem;
        color: #808080; }
        .tb-received-detil-wrapper .account .title .select small {
          color: #3295e0; }
        .tb-received-detil-wrapper .account .title .select img {
          position: absolute;
          width: 0.85185rem;
          height: 0.48148rem;
          right: 0.5rem;
          top: 0.7rem;
          z-index: 100; }
        .tb-received-detil-wrapper .account .title .select ul {
          position: absolute;
          top: -0.1rem;
          width: 5.85rem;
          background: white;
          left: -0.1rem;
          font-size: 0.81481rem;
          border: 1px solid #F1F1F1;
          z-index: 1; }
          .tb-received-detil-wrapper .account .title .select ul li {
            text-align: center;
            border-bottom: 1px solid #F1F1F1;
            padding-right: 0.8rem;
            padding-left: 0.1rem; }
          .tb-received-detil-wrapper .account .title .select ul li:last-child {
            border-bottom: none; }
          .tb-received-detil-wrapper .account .title .select ul li:first-child {
            color: #3295e0; }
    .tb-received-detil-wrapper .account .count-info {
      padding: 0.2rem 1.11111rem; }
      .tb-received-detil-wrapper .account .count-info table td {
        height: 2.07407rem;
        font-size: 1.03704rem; }
      .tb-received-detil-wrapper .account .count-info table td:nth-child(1) {
        width: 4.77778rem;
        color: #808080; }
      .tb-received-detil-wrapper .account .count-info table td:nth-child(2) {
        color: #4a4a4a; }
        .tb-received-detil-wrapper .account .count-info table td:nth-child(2) span {
          color: #fe5534; }
    .tb-received-detil-wrapper .account .payment {
      position: relative;
      padding: 0 1.11111rem;
      height: 2.02963rem;
      line-height: 1.82963rem; }
      .tb-received-detil-wrapper .account .payment .payment-zhifu {
        display: inline; }
      .tb-received-detil-wrapper .account .payment span {
        color: #808080; }
      .tb-received-detil-wrapper .account .payment strong {
        color: #4a4a4a; }
      .tb-received-detil-wrapper .account .payment img {
        position: absolute;
        width: 0.62963rem;
        height: 1.25926rem;
        top: -1.9rem;
        right: 0.9rem; }
    .tb-received-detil-wrapper .account .add-account-record {
      position: relative;
      height: 3.55556rem;
      line-height: 3.55556rem;
      text-align: center; }
      .tb-received-detil-wrapper .account .add-account-record:after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
      .tb-received-detil-wrapper .account .add-account-record img {
        float: left;
        width: 1.14815rem;
        height: 1.14815rem;
        margin-left: 10rem;
        margin-right: 0.66667rem;
        margin-top: 1.2rem; }
      .tb-received-detil-wrapper .account .add-account-record span {
        float: left;
        color: #2cbcad; }
  .tb-received-detil-wrapper .sale-man {
    position: relative;
    background: white;
    margin-bottom: 0.74074rem; }
    .tb-received-detil-wrapper .sale-man:after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: #F1F1F1;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0; }
    .tb-received-detil-wrapper .sale-man .add-account-record {
      position: relative;
      height: 3.55556rem;
      line-height: 3.55556rem;
      text-align: center; }
      .tb-received-detil-wrapper .sale-man .add-account-record:after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
      .tb-received-detil-wrapper .sale-man .add-account-record img {
        float: left;
        width: 1.14815rem;
        height: 1.14815rem;
        margin-left: 10rem;
        margin-right: 0.66667rem;
        margin-top: 1.2rem; }
      .tb-received-detil-wrapper .sale-man .add-account-record span {
        float: left;
        color: #2cbcad; }
    .tb-received-detil-wrapper .sale-man .title {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem; }
      .tb-received-detil-wrapper .sale-man .title:after {
        content: "";
        position: absolute;
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
    .tb-received-detil-wrapper .sale-man .content {
      position: relative;
      padding: 0 0.92593rem;
      padding-top: 0.37037rem; }
      .tb-received-detil-wrapper .sale-man .content:after {
        content: "";
        position: absolute;
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
      .tb-received-detil-wrapper .sale-man .content img {
        position: absolute;
        width: 0.62963rem;
        height: 1.25926rem;
        right: 1rem;
        top: 3rem; }
      .tb-received-detil-wrapper .sale-man .content table {
        font-size: 1.03704rem; }
        .tb-received-detil-wrapper .sale-man .content table tr {
          height: 2.2963rem; }
          .tb-received-detil-wrapper .sale-man .content table tr td strong {
            display: inline-block;
            width: 17rem;
            height: 1.3rem; }
          .tb-received-detil-wrapper .sale-man .content table tr td p {
            overflow: hidden;
            width: 17rem;
            height: 2.45556rem;
            line-height: 1.25926rem;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem; }
          .tb-received-detil-wrapper .sale-man .content table tr td .bz {
            display: inline-block;
            height: 2.45556rem;
            margin-top: 0.6rem; }
          .tb-received-detil-wrapper .sale-man .content table tr td:nth-child(1) {
            width: 6.51852rem;
            color: #808080; }
          .tb-received-detil-wrapper .sale-man .content table tr td:nth-child(2) {
            color: #4a4a4a; }
  .tb-received-detil-wrapper .purchase-bz {
    background: white; }
    .tb-received-detil-wrapper .purchase-bz p {
      padding: 0 1.11111rem 0.74074rem;
      color: grey; }
    .tb-received-detil-wrapper .purchase-bz .title {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem; }
    .tb-received-detil-wrapper .purchase-bz .content {
      padding: 0.74074rem 1rem 2.40741rem; }
      .tb-received-detil-wrapper .purchase-bz .content div {
        height: 2.66667rem;
        border: 1px solid #F1F1F1; }
        .tb-received-detil-wrapper .purchase-bz .content div input {
          width: 97%;
          height: 2.66667rem;
          padding: 0 0.37037rem; }

.tb-received-saleman-html {
  height: 100%;
  background: #f6f9f9; }

.tb-received-saleman-wrapper {
  padding-top: 1.11111rem;
  background: white; }
  .tb-received-saleman-wrapper li {
    position: relative;
    padding-left: 0.92593rem;
    padding-top: 0.51852rem;
    padding-bottom: 1.62963rem; }
    .tb-received-saleman-wrapper li:after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: #F1F1F1;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0; }
  .tb-received-saleman-wrapper .unselect {
    float: left;
    width: 1.33333rem;
    height: 1.33333rem;
    margin-right: 0.96296rem;
    margin-top: 0.6rem; }
  .tb-received-saleman-wrapper section {
    float: left; }
    .tb-received-saleman-wrapper section table {
      font-size: 1.03704rem; }
      .tb-received-saleman-wrapper section table tr {
        height: 2.2963rem; }
        .tb-received-saleman-wrapper section table tr td strong {
          display: inline-block;
          width: 16rem;
          height: 1.3rem;
          line-height: 1.6rem; }
        .tb-received-saleman-wrapper section table tr td p {
          overflow: hidden;
          width: 16rem;
          height: 2.45556rem;
          line-height: 1.25926rem;
          margin-top: 0.6rem; }
        .tb-received-saleman-wrapper section table tr td .bz {
          display: inline-block;
          height: 2.45556rem;
          margin-top: 0.6rem; }
        .tb-received-saleman-wrapper section table tr td:nth-child(1) {
          width: 6.51852rem;
          color: #808080; }
        .tb-received-saleman-wrapper section table tr td:nth-child(2) {
          color: #4a4a4a; }

.tb-received-addrecord-wrapper {
  background: white; }
  .tb-received-addrecord-wrapper .title {
    position: relative;
    height: 3.7037rem;
    font-size: 1.11111rem;
    padding-left: 1rem;
    line-height: 3.7037rem; }
    .tb-received-addrecord-wrapper .title:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0;
      background: #F1F1F1; }
    .tb-received-addrecord-wrapper .title img {
      float: left;
      width: 1.74074rem;
      height: 1.11111rem;
      margin-top: 1.2rem;
      margin-right: 0.51852rem; }
    .tb-received-addrecord-wrapper .title span {
      float: left;
      color: #000000; }
  .tb-received-addrecord-wrapper .type {
    position: relative;
    padding: 1rem; }
    .tb-received-addrecord-wrapper .type:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #F1F1F1;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0; }
    .tb-received-addrecord-wrapper .type li {
      position: relative;
      float: left;
      margin-right: 3.04rem;
      margin-bottom: 1.62963rem; }
      .tb-received-addrecord-wrapper .type li img {
        float: left;
        width: 1.11111rem;
        height: 1.11111rem;
        margin-right: 0.66667rem;
        margin-top: 0.2rem; }
      .tb-received-addrecord-wrapper .type li span {
        float: left;
        color: #c5c5c5;
        font-size: 1.03704rem; }
    .tb-received-addrecord-wrapper .type li:nth-child(3n) {
      margin-right: 0; }
    .tb-received-addrecord-wrapper .type li:last-child {
      margin-bottom: 0; }
  .tb-received-addrecord-wrapper .info {
    padding: 1.55556rem 1.25926rem 0; }
    .tb-received-addrecord-wrapper .info .msg-money {
      font-size: 1.03704rem;
      color: #808080; }
      .tb-received-addrecord-wrapper .info .msg-money span {
        display: inline-block;
        width: 7.40741rem; }
      .tb-received-addrecord-wrapper .info .msg-money strong {
        color: #FE5534; }
    .tb-received-addrecord-wrapper .info .date {
      position: relative;
      padding-bottom: 1.55556rem; }
      .tb-received-addrecord-wrapper .info .date span {
        float: left;
        color: #808080;
        margin-right: 1.33333rem;
        margin-top: 0.5rem; }
      .tb-received-addrecord-wrapper .info .date small {
        position: absolute;
        font-size: 0.74074rem;
        color: #cfcfd4;
        width: 9rem;
        left: 5.5rem;
        bottom: 0.5rem; }
      .tb-received-addrecord-wrapper .info .date div {
        float: left;
        width: 16.6rem;
        height: 2.14815rem;
        border: 1px solid #F1F1F1; }
        .tb-received-addrecord-wrapper .info .date div strong {
          float: left;
          margin-top: 0.5rem;
          margin-left: 5.7rem; }
        .tb-received-addrecord-wrapper .info .date div img {
          float: right;
          margin-top: 0.9rem;
          margin-right: 0.66667rem;
          width: 0.81481rem;
          height: 0.44444rem; }
    .tb-received-addrecord-wrapper .info .msg-auth {
      margin-bottom: 1.7037rem; }
    .tb-received-addrecord-wrapper .info .msg-default {
      margin-bottom: 1.7037rem; }
    .tb-received-addrecord-wrapper .info .money-input {
      margin-bottom: 2.59259rem; }
      .tb-received-addrecord-wrapper .info .money-input span {
        float: left;
        color: #808080;
        margin-right: 1.33333rem;
        margin-top: 0.5rem; }
      .tb-received-addrecord-wrapper .info .money-input div {
        float: left;
        width: 16.6rem;
        height: 2.14815rem;
        border: 1px solid #F1F1F1; }
        .tb-received-addrecord-wrapper .info .money-input div input {
          width: 95%;
          height: 2.14815rem;
          padding: 0 0.37037rem; }
    .tb-received-addrecord-wrapper .info .txt-msg {
      font-size: 0.96296rem;
      color: #808080;
      line-height: 1.37037rem; }
      .tb-received-addrecord-wrapper .info .txt-msg span {
        color: #2cbcad; }
  .tb-received-addrecord-wrapper .btn {
    width: 18.74074rem;
    margin: 5.07407rem auto 0; }
    .tb-received-addrecord-wrapper .btn button {
      width: 100%;
      height: 2.44444rem;
      border-radius: 6px;
      margin-bottom: 1.77778rem;
      font-size: 1.03704rem; }
    .tb-received-addrecord-wrapper .btn button:nth-child(1) {
      background: #2cbcad;
      color: white; }
    .tb-received-addrecord-wrapper .btn button:nth-child(2) {
      border: 1px solid #2cbcad;
      color: #2cbcad;
      background: white; }

.tb-received-addrecord-html {
  height: 100%;
  background: white; }

.tb-received-gd-html {
  height: 100%;
  background: white; }

.tb-received-goodsdetil-wrapper {
  background: white; }
  .tb-received-goodsdetil-wrapper .btn {
    width: 18.74074rem;
    margin: 11.25926rem auto 0; }
    .tb-received-goodsdetil-wrapper .btn button {
      width: 100%;
      height: 2.44444rem;
      border-radius: 6px;
      margin-bottom: 1.77778rem;
      font-size: 1.03704rem; }
    .tb-received-goodsdetil-wrapper .btn button:nth-child(1) {
      background: white;
      color: #2cbcad;
      border: 1px solid #2cbcad; }
    .tb-received-goodsdetil-wrapper .btn button:nth-child(2) {
      border: 1px solid #2cbcad;
      color: white;
      background: #2cbcad; }
  .tb-received-goodsdetil-wrapper .wrapper {
    padding: 0.96296rem 1.48148rem 0; }
    .tb-received-goodsdetil-wrapper .wrapper h1 {
      width: 100%;
      height: 2.59259rem;
      line-height: 2.59259rem;
      font-size: 1.48148rem;
      color: #4A4A4A; }
    .tb-received-goodsdetil-wrapper .wrapper table {
      font-size: 1.03704rem; }
      .tb-received-goodsdetil-wrapper .wrapper table tr td {
        font-size: 1.11111rem; }
        .tb-received-goodsdetil-wrapper .wrapper table tr td span {
          display: inline-block;
          width: 6rem;
          height: 2.59259rem;
          line-height: 2.59259rem; }
        .tb-received-goodsdetil-wrapper .wrapper table tr td p {
          width: 18rem;
          height: 2.59259rem;
          line-height: 2.59259rem; }
      .tb-received-goodsdetil-wrapper .wrapper table tr td:nth-child(1) span {
        color: #808080; }
      .tb-received-goodsdetil-wrapper .wrapper table tr td:nth-child(2) p {
        color: #4B4B4B; }
      .tb-received-goodsdetil-wrapper .wrapper table tr td:nth-child(2) .price {
        color: #fe5534; }
  .tb-received-goodsdetil-wrapper .edit .select-btn li {
    float: left;
    margin-right: 2rem; }
    .tb-received-goodsdetil-wrapper .edit .select-btn li img {
      float: left;
      width: 1.03704rem;
      height: 1.03704rem;
      margin-right: 0.2rem; }
    .tb-received-goodsdetil-wrapper .edit .select-btn li small {
      float: left; }
  .tb-received-goodsdetil-wrapper .edit .edit-com-input {
    width: 17.55556rem;
    height: 2.07407rem;
    border: 1px solid #F1F1F1; }
    .tb-received-goodsdetil-wrapper .edit .edit-com-input input {
      width: 96%;
      height: 1.3rem;
      padding: 0.37037rem; }
  .tb-received-goodsdetil-wrapper .edit .edit-com-textarea {
    width: 17.55556rem;
    height: 6.11111rem;
    border: 1px solid #F1F1F1;
    margin: 0.9rem 0; }
    .tb-received-goodsdetil-wrapper .edit .edit-com-textarea textarea {
      width: 96%;
      padding: 0.37037rem;
      height: 5.3037rem;
      border: none;
      resize: none; }
  .tb-received-goodsdetil-wrapper .edit .yijia {
    height: 7.2rem; }
  .tb-received-goodsdetil-wrapper .edit .edit-span {
    margin-top: 0.6rem; }
  .tb-received-goodsdetil-wrapper .edit .qty {
    padding-top: 0.6rem;
    padding-bottom: 0.4rem; }
    .tb-received-goodsdetil-wrapper .edit .qty li {
      float: left; }
      .tb-received-goodsdetil-wrapper .edit .qty li .input-txt {
        height: 2.1rem;
        border-top: 1px solid #F1F1F1;
        border-bottom: 1px solid #F1F1F1; }
        .tb-received-goodsdetil-wrapper .edit .qty li .input-txt input {
          width: 100%;
          height: 2rem;
          text-align: center; }
    .tb-received-goodsdetil-wrapper .edit .qty img {
      width: 2.2963rem;
      height: 2.25926rem; }

.tb-received-gt-wrapper {
  padding: 0.74074rem 0.59259rem; }
  .tb-received-gt-wrapper .list li {
    position: relative;
    font-size: 1.11111rem;
    padding: 0.88889rem 1.11111rem;
    border: 1px solid #F1F1F1;
    background: white;
    margin-bottom: 0.55556rem; }
    .tb-received-gt-wrapper .list li .tag {
      position: absolute;
      width: 1.25926rem;
      height: 2.22222rem;
      font-size: 0.66667rem;
      color: white;
      background-size: contain;
      text-align: center;
      top: 0;
      right: 0.6rem; }
    .tb-received-gt-wrapper .list li .tag-yijia {
      background: url("../../images/tb-received/tag_green.png") no-repeat;
      background-size: contain; }
    .tb-received-gt-wrapper .list li .tag-shanchu {
      background: url("../../images/tb-received/tag_red.png") no-repeat;
      background-size: contain; }
    .tb-received-gt-wrapper .list li .tag-xinzeng {
      background: url("../../images/tb-received/tag_blue.png") no-repeat;
      background-size: contain; }
    .tb-received-gt-wrapper .list li .tag-xiugai {
      background: url("../../images/tb-received/tag_yellow.png") no-repeat;
      background-size: contain; }
    .tb-received-gt-wrapper .list li .arrow {
      position: absolute;
      top: 4.3rem;
      right: 1.5rem; }
      .tb-received-gt-wrapper .list li .arrow img {
        width: 0.62963rem;
        height: 1.25926rem; }
    .tb-received-gt-wrapper .list li h3 {
      width: 22rem;
      height: 1.4rem;
      margin-bottom: 0.66667rem;
      color: #4B4B4B; }
    .tb-received-gt-wrapper .list li table td {
      height: 2.07407rem;
      font-size: 1.03704rem; }
    .tb-received-gt-wrapper .list li table td:nth-child(1) {
      width: 4.77778rem;
      color: #808080; }
    .tb-received-gt-wrapper .list li table td:nth-child(2) {
      color: #4a4a4a; }
      .tb-received-gt-wrapper .list li table td:nth-child(2) span {
        color: #fe5534; }
  .tb-received-gt-wrapper .list li:last-child {
    border-bottom: none; }

.tb-received-rejecthtml {
  height: 100%;
  background: #f6f9f9; }

.tb-received-reject {
  margin-top: 0.66667rem;
  background: #f6f9f9; }
  .tb-received-reject .txt {
    position: relative;
    width: 100%;
    height: 14.96296rem;
    background: url("../../images/tb-received/bg_edit.png") no-repeat;
    background-size: cover; }
    .tb-received-reject .txt img {
      position: absolute;
      width: 3.55556rem;
      height: 2.07407rem;
      z-index: 10;
      top: 0.5rem;
      left: 1rem; }
    .tb-received-reject .txt textarea {
      border: none;
      width: 94.1%;
      padding: 0.77037rem;
      height: 13.51481rem;
      background: none;
      resize: none;
      font-size: 1.03704rem;
      line-height: 3rem; }
  .tb-received-reject .btn {
    width: 18.74074rem;
    margin: 11.25926rem auto 0; }
    .tb-received-reject .btn button {
      width: 100%;
      height: 2.44444rem;
      border-radius: 6px;
      margin-bottom: 1.77778rem;
      font-size: 1.03704rem; }
    .tb-received-reject .btn button:nth-child(1) {
      background: #2cbcad;
      color: white; }
    .tb-received-reject .btn button:nth-child(2) {
      border: 1px solid #2cbcad;
      color: #2cbcad;
      background: white; }

.tb-confirm-detil-wrapper {
  background: #f6f9f9;
  padding-bottom: 2.58148rem; }
  .tb-confirm-detil-wrapper .btn {
    position: fixed;
    width: 100%;
    height: 3.48148rem;
    z-index: 200;
    bottom: -0.1rem; }
    .tb-confirm-detil-wrapper .btn span {
      float: left;
      width: 33.3%;
      text-align: center;
      line-height: 3.48148rem;
      color: white; }
    .tb-confirm-detil-wrapper .btn span:nth-child(1) {
      background: #97e3cf; }
    .tb-confirm-detil-wrapper .btn span:nth-child(2) {
      background: #5fcabf; }
    .tb-confirm-detil-wrapper .btn span:nth-child(3) {
      background: #2cbcad; }
  .tb-confirm-detil-wrapper .order-info {
    position: relative;
    padding: 1.11111rem 1.03704rem;
    margin-bottom: 0.74074rem;
    background: #ffffff; }
    .tb-confirm-detil-wrapper .order-info tr td {
      font-size: 1.11111rem; }
      .tb-confirm-detil-wrapper .order-info tr td span {
        display: inline-block;
        height: 1.96296rem;
        line-height: 1.96296rem; }
      .tb-confirm-detil-wrapper .order-info tr td p {
        width: 18rem;
        height: 1.96296rem;
        line-height: 1.96296rem; }
    .tb-confirm-detil-wrapper .order-info tr td:nth-child(1) {
      width: 5.88889rem; }
      .tb-confirm-detil-wrapper .order-info tr td:nth-child(1) span {
        color: #808080; }
    .tb-confirm-detil-wrapper .order-info tr td:nth-child(2) p {
      color: #4B4B4B; }
    .tb-confirm-detil-wrapper .order-info tr td:nth-child(2) .price {
      color: #fe5534; }
  .tb-confirm-detil-wrapper .order-info:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #F1F1F1;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0; }
  .tb-confirm-detil-wrapper .list {
    position: relative;
    background: white;
    font-size: 1.11111rem;
    margin-bottom: 0.48148rem; }
    .tb-confirm-detil-wrapper .list:after {
      position: absolute;
      content: "";
      height: 1px;
      bottom: 0px;
      left: 0;
      right: 0;
      background: #F1F1F1;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0; }
    .tb-confirm-detil-wrapper .list .title {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem; }
      .tb-confirm-detil-wrapper .list .title span {
        float: left;
        color: #000000; }
      .tb-confirm-detil-wrapper .list .title strong {
        float: right;
        font-size: 1.03704rem;
        color: #808080; }
      .tb-confirm-detil-wrapper .list .title:after {
        content: "";
        position: absolute;
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
    .tb-confirm-detil-wrapper .list ul li {
      position: relative;
      font-size: 1.11111rem;
      padding: 0.88889rem 1.11111rem;
      border-bottom: 1px dotted #F1F1F1; }
      .tb-confirm-detil-wrapper .list ul li .tag {
        position: absolute;
        width: 1.25926rem;
        height: 2.22222rem;
        font-size: 0.66667rem;
        color: white;
        background-size: contain;
        text-align: center;
        top: 0;
        right: 0.6rem; }
      .tb-confirm-detil-wrapper .list ul li .tag-yijia {
        background: url("../../images/tb-received/tag_green.png") no-repeat;
        background-size: contain; }
      .tb-confirm-detil-wrapper .list ul li .tag-shanchu {
        background: url("../../images/tb-received/tag_red.png") no-repeat;
        background-size: contain; }
      .tb-confirm-detil-wrapper .list ul li .tag-xinzeng {
        background: url("../../images/tb-received/tag_blue.png") no-repeat;
        background-size: contain; }
      .tb-confirm-detil-wrapper .list ul li .tag-xiugai {
        background: url("../../images/tb-received/tag_yellow.png") no-repeat;
        background-size: contain; }
      .tb-confirm-detil-wrapper .list ul li .arrow {
        position: absolute;
        top: 4.3rem;
        right: 1.5rem; }
        .tb-confirm-detil-wrapper .list ul li .arrow img {
          width: 0.62963rem;
          height: 1.25926rem; }
      .tb-confirm-detil-wrapper .list ul li h3 {
        width: 22rem;
        height: 1.4rem;
        margin-bottom: 0.66667rem;
        color: #4B4B4B; }
      .tb-confirm-detil-wrapper .list ul li table td {
        height: 2.07407rem;
        font-size: 1.03704rem; }
      .tb-confirm-detil-wrapper .list ul li table td:nth-child(1) {
        width: 4.77778rem;
        color: #808080; }
      .tb-confirm-detil-wrapper .list ul li table td:nth-child(2) {
        color: #4a4a4a; }
        .tb-confirm-detil-wrapper .list ul li table td:nth-child(2) span {
          color: #fe5534; }
    .tb-confirm-detil-wrapper .list ul li:last-child {
      border-bottom: none; }
  .tb-confirm-detil-wrapper .account {
    background: white;
    margin-bottom: 0.74074rem; }
    .tb-confirm-detil-wrapper .account .title {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem; }
      .tb-confirm-detil-wrapper .account .title:after {
        content: "";
        position: absolute;
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
      .tb-confirm-detil-wrapper .account .title span {
        float: left;
        color: #000000; }
      .tb-confirm-detil-wrapper .account .title .select {
        position: relative;
        float: right;
        width: 4.76rem;
        padding: 0 0.55556rem;
        line-height: 1.8rem;
        border: 1px solid #F1F1F1;
        margin-top: 0.7rem;
        color: #808080; }
        .tb-confirm-detil-wrapper .account .title .select small {
          color: #3295e0; }
        .tb-confirm-detil-wrapper .account .title .select img {
          position: absolute;
          width: 0.85185rem;
          height: 0.48148rem;
          right: 0.5rem;
          top: 0.7rem;
          z-index: 100; }
        .tb-confirm-detil-wrapper .account .title .select ul {
          position: absolute;
          top: -0.1rem;
          width: 5.85rem;
          background: white;
          left: -0.1rem;
          font-size: 0.81481rem;
          border: 1px solid #F1F1F1; }
          .tb-confirm-detil-wrapper .account .title .select ul li {
            position: relative;
            padding-top: 0.08rem;
            text-align: center;
            border-bottom: 1px solid #F1F1F1;
            padding-right: 1.8rem;
            padding-left: 0.6rem; }
          .tb-confirm-detil-wrapper .account .title .select ul li:last-child {
            border-bottom: none; }
          .tb-confirm-detil-wrapper .account .title .select ul li:first-child {
            color: #3295e0; }
    .tb-confirm-detil-wrapper .account .count-info {
      padding: 0.2rem 1.11111rem; }
      .tb-confirm-detil-wrapper .account .count-info table td {
        height: 2.07407rem;
        font-size: 1.03704rem; }
      .tb-confirm-detil-wrapper .account .count-info table td:nth-child(1) {
        width: 4.77778rem;
        color: #808080; }
      .tb-confirm-detil-wrapper .account .count-info table td:nth-child(2) {
        color: #4a4a4a; }
        .tb-confirm-detil-wrapper .account .count-info table td:nth-child(2) span {
          color: #fe5534; }
    .tb-confirm-detil-wrapper .account .payment {
      padding: 0 1.11111rem;
      height: 3.62963rem;
      line-height: 3.62963rem;
      border-bottom: 1px dotted #F1F1F1; }
      .tb-confirm-detil-wrapper .account .payment span {
        color: #808080; }
      .tb-confirm-detil-wrapper .account .payment strong {
        color: #4a4a4a; }
      .tb-confirm-detil-wrapper .account .payment img {
        float: right;
        width: 0.62963rem;
        height: 1.25926rem;
        margin-top: 1.1rem; }
    .tb-confirm-detil-wrapper .account .add-account-record {
      position: relative;
      height: 3.55556rem;
      line-height: 3.55556rem;
      text-align: center; }
      .tb-confirm-detil-wrapper .account .add-account-record:after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
      .tb-confirm-detil-wrapper .account .add-account-record img {
        float: left;
        width: 1.14815rem;
        height: 1.14815rem;
        margin-left: 10rem;
        margin-right: 0.66667rem;
        margin-top: 1.2rem; }
      .tb-confirm-detil-wrapper .account .add-account-record span {
        float: left;
        color: #2cbcad; }
  .tb-confirm-detil-wrapper .sale-man {
    position: relative;
    background: white;
    margin-bottom: 0.74074rem;
    padding-bottom: 1.11111rem; }
    .tb-confirm-detil-wrapper .sale-man:after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: #F1F1F1;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0; }
    .tb-confirm-detil-wrapper .sale-man .add-account-record {
      position: relative;
      height: 3.55556rem;
      line-height: 3.55556rem;
      text-align: center; }
      .tb-confirm-detil-wrapper .sale-man .add-account-record:after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: #F1F1F1;
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 0 0; }
      .tb-confirm-detil-wrapper .sale-man .add-account-record img {
        float: left;
        width: 1.14815rem;
        height: 1.14815rem;
        margin-left: 10rem;
        margin-right: 0.66667rem;
        margin-top: 1.2rem; }
      .tb-confirm-detil-wrapper .sale-man .add-account-record span {
        float: left;
        color: #2cbcad; }
    .tb-confirm-detil-wrapper .sale-man .title, .tb-confirm-detil-wrapper .sale-man .title-order {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem; }
    .tb-confirm-detil-wrapper .sale-man .title-order:after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: #F1F1F1;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0; }
    .tb-confirm-detil-wrapper .sale-man .orderbz {
      margin: 0.96296rem;
      border: 1px solid #F1F1F1;
      border-radius: 6px; }
      .tb-confirm-detil-wrapper .sale-man .orderbz textarea {
        width: 95.6%;
        padding: .37037rem;
        border: none;
        margin-left: 0.2rem;
        resize: none; }
    .tb-confirm-detil-wrapper .sale-man .content {
      position: relative;
      padding: 0 0.92593rem;
      padding-top: 0.37037rem; }
      .tb-confirm-detil-wrapper .sale-man .content p {
        color: #808080;
        line-height: 1.25926rem; }
      .tb-confirm-detil-wrapper .sale-man .content img {
        position: absolute;
        width: 0.62963rem;
        height: 1.25926rem;
        right: 1rem;
        top: 3rem; }
      .tb-confirm-detil-wrapper .sale-man .content table {
        font-size: 1.03704rem; }
        .tb-confirm-detil-wrapper .sale-man .content table tr {
          height: 2.2963rem; }
          .tb-confirm-detil-wrapper .sale-man .content table tr td strong {
            display: inline-block;
            width: 17rem;
            height: 1.3rem; }
          .tb-confirm-detil-wrapper .sale-man .content table tr td p {
            overflow: hidden;
            width: 17rem;
            height: 2.45556rem;
            line-height: 1.25926rem;
            margin-top: 0.6rem; }
          .tb-confirm-detil-wrapper .sale-man .content table tr td .bz {
            display: inline-block;
            height: 2.45556rem;
            margin-top: 0.6rem; }
          .tb-confirm-detil-wrapper .sale-man .content table tr td:nth-child(1) {
            width: 6.51852rem;
            color: #808080; }
          .tb-confirm-detil-wrapper .sale-man .content table tr td:nth-child(2) {
            color: #4a4a4a; }
  .tb-confirm-detil-wrapper .purchase-bz {
    background: white; }
    .tb-confirm-detil-wrapper .purchase-bz .title {
      position: relative;
      padding: 0 1.11111rem;
      height: 3.33333rem;
      line-height: 3.33333rem; }
    .tb-confirm-detil-wrapper .purchase-bz .content {
      padding: 0.74074rem 1rem 2.40741rem; }
      .tb-confirm-detil-wrapper .purchase-bz .content div {
        height: 2.66667rem;
        border: 1px solid #F1F1F1; }
        .tb-confirm-detil-wrapper .purchase-bz .content div input {
          width: 97%;
          height: 2.66667rem;
          padding: 0 0.37037rem; }

#tbcon-rece-shouhuo-wrapper {
  padding: 0;
  background: #f6f9f9; }
  #tbcon-rece-shouhuo-wrapper .btn-s {
    width: 18.74074rem;
    margin: 4.55185rem auto 0; }
    #tbcon-rece-shouhuo-wrapper .btn-s button {
      width: 100%;
      height: 2.44444rem;
      border-radius: 6px;
      margin-bottom: 1.77778rem;
      font-size: 1.03704rem; }
    #tbcon-rece-shouhuo-wrapper .btn-s button:nth-child(2) {
      background: #fff;
      color: #2cbcad;
      border: 1px solid #2cbcad; }
    #tbcon-rece-shouhuo-wrapper .btn-s button:nth-child(1) {
      border: 1px solid #2cbcad;
      color: #fff;
      background: #2cbcad; }
