@import "../reset";
@import "../mixins";
html,body {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  .backBtn {
    position: fixed;
    z-index: 9000;
    right: 0;
    top: 20px;
    width: (74/28)+rem;
    height: (74/28)+rem;
    background: url(../../images/luck-draw-activity/closeBtn.png);
    background-size: 100% 100%;
  }
}
.pop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.pop-k1 {
  width: (558/28)+rem;
  height: (592/28)+rem;
  .top {
    width: (558/28)+rem;
    height: (399/28)+rem;
    background: url(../../images/activity-pop-red/pop-pan.png) no-repeat;
    background-size: 100% 100%;
  }
  .bot {
    width: (558/28)+rem;
    height: (192/28)+rem;
    background: #fff;
    border-radius: 0 0 (25/28)+rem (25/28)+rem;
    p {
      text-align: center;
      color: #888888;
      font-size: (28/28)+rem;
      line-height: (87/28)+rem;
    }
    a {
      display: block;
      width: (260/28)+rem;
      height: (74/28)+rem;
      margin: 0 auto;
      background: #e51e21;
      color: #fff;
      line-height: (74/28)+rem;
      text-align: center;
      border-radius: (13/28)+rem;
    }
  }
  .bot2 {
    .btn-wrap {
      position: relative;
      &:after {
        @include border(top,#dddddd);
      }
    }
    .read {
      position: relative;
      color: #0ba95f;
      &:after {
        @include border(right,#dddddd);
      }
    }
    .read, .ignore {
      width: 50%;
      float: left;
      font-size: 1rem;
      text-align: center;
      line-height: (102/28)+rem;
    }
  }
  .close {
    position: absolute;
    top: (84/28)+rem;
    right: (20/28)+rem;
    width: (33/28)+rem;
    height: (33/28)+rem;
    background: url(../../images/activity-pop-red/close.png) no-repeat;
    background-size: 100% 100%;
  }
}
.pop-k2 {
  width: (496/28)+rem;
  height: (584/28)+rem;
  .top {
    width: (496/28)+rem;
    height: (274/28)+rem;
    background: url(../../images/activity-pop-red/red-page.png) no-repeat;
    background-size: 100% 100%;
  }
  .bot {
    padding-bottom: (46/28)+rem;
    background: #ec2e22;
    border-radius: 0 0 (20/28)+rem (20/28)+rem;
    .text {
      color: #fff1ad;
      height: (185/28)+rem;
      text-align: center;
    }
    .btn {
      width: (287/28)+rem;
      height: (78/28)+rem;
      background: #ffe56b;
      margin: 0 auto;
      color: #fe2828;
      font-size: (30/28)+rem;
      font-weight: bold;
      line-height: (78/28)+rem;
      text-align: center;
      border-radius: (10/28)+rem;
    }
  }
}
.red2 {
  width: (496/28)+rem;
  height: (584/28)+rem;
  border-radius: (20/28)+rem;
  text-align: center;
  .top {
    height: (351/28)+rem;
    padding-top: (43/28)+rem;
    background: #c4261c url(../../images/activity-pop-red/red2.jpg) 0 bottom no-repeat;
    background-size: (495/28)+rem (50/28)+rem;
    border-radius: (20/28)+rem (20/28)+rem 0 0;
    box-sizing: border-box;
    .fi {
      color: #fff1ad;
      font-size: (48/28)+rem;
    }
    .se {
      margin: (18/28)+rem 0 (34/28)+rem;
      color: #fff1ad;
      font-size: (30/28)+rem;
    }
    .th {
      display: inline-block;
      max-width: (410/28)+rem;
      height: (55/28)+rem;
      padding: 0 (21/28)+rem 0 (105/28)+rem;
      margin: 0 auto;
      background: url(../../images/activity-pop-red/kouling.png) #951c14 no-repeat (20/28)+rem 0;
      background-size: (69/28)+rem (56/28)+rem;
      line-height: (55/28)+rem;
      border-radius: (8/28)+rem;
      color: #ffe56b;
      box-sizing: border-box;
    }
    .fo {
      margin-top: (15/28)+rem;
      color: #8d1b14;
      font-size: (24/28)+rem;
    }
  }
  .bot {
    height: ((584-351)/28)+rem;
    padding-top: (43/28)+rem;
    background: #ec2e22;
    border-radius: 0 0 (20/28)+rem (20/28)+rem;
    box-sizing: border-box;
    p {
      color: #ffe56b;
      font-size: (28/28)+rem;
    }
    .btn {
      width: (285/28)+rem;
      height: (79/28)+rem;
      margin: (30/28)+rem auto 0;
      background: #ffe56b;
      color: #fe2828;
      font-weight: bold;
      font-size: (30/28)+rem;
      line-height: (79/28)+rem;
      border-radius: (8/28)+rem;
    }
  }
}
