html {
  color: #000;
  background: #f5f5f6;
  font-family: sans-serif;
  font-size: 27px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong, figure, figcaption {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background: #f5f5f6; }

input {
  border: none; }

button {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #00c;
  outline: none; }

var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, b {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

i {
  font-style: normal; }

input, button, textarea, select, optgroup, option {
  outline: none; }

input, button, textarea, select {
  *font-size: 100%; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/*body{-webkit-user-select:none;-webkit-text-size-adjust:none;}*/
* {
  -webkit-tap-highlight-color: transparent; }

.clearfix:after, .top-block li:after, .item-block .tit:after, .item-block .item-block-con:after, .item-block .item-block-con li:after, .item-block .item-block-con.scpz:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix, .top-block li, .item-block .tit, .item-block .item-block-con, .item-block .item-block-con li, .item-block .item-block-con.scpz {
  *zoom: 1; }

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

html, body {
  background: #fff; }

.application-handle {
  padding-bottom: 4.07407rem; }
  .application-handle .left-side {
    float: left;
    width: 7.18519rem;
    color: #808080; }
  .application-handle .right-side {
    float: left;
    width: 16.2963rem;
    color: #4B4B4B; }
  .application-handle span.date {
    line-height: 2.22222rem;
    padding-left: 0.37037rem; }
  .application-handle .date {
    position: relative;
    height: 2.22222rem;
    line-height: 2.22222rem;
    border: 1px solid rgba(189, 189, 189, 0.5);
    background: url("../../images/application-handle/arrow-bot.png") 14.5rem 0.7rem no-repeat;
    background-size: 1rem 0.55556rem;
    box-sizing: border-box; }
  .application-handle .line {
    line-height: 2.22222rem; }
  .application-handle select {
    display: block;
    padding-left: 0.37037rem;
    padding-right: 2rem;
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    height: 2.22222rem;
    line-height: 2.22222rem;
    border: 1px solid rgba(189, 189, 189, 0.5);
    background: url("../../images/application-handle/arrow-bot.png") 14.5rem 0.7rem no-repeat;
    background-size: 1rem 0.55556rem; }
  .application-handle .color {
    color: #FE5534; }
  .application-handle .color2 {
    color: #3285CD; }

.top-block {
  position: relative;
  padding: 1.59259rem 1.03704rem 1.03704rem;
  border-bottom: 0.55556rem solid #f6f9f9;
  font-size: 1.03704rem; }
  .top-block:before {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    background: #e8e8e8;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  .top-block li {
    min-height: 1.55556rem;
    margin-bottom: 0.59259rem;
    line-height: 1.55556rem; }

.item-block {
  position: relative;
  border-bottom: 0.55556rem solid #f6f9f9; }
  .item-block .tit {
    position: relative;
    height: 3.33333rem;
    padding: 0 1.03704rem;
    background: #fff;
    font-size: 1.11111rem; }
    .item-block .tit:before {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background: #e8e8e8;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); }
    .item-block .tit .left-name {
      float: left;
      font-size: 1.11111rem;
      line-height: 3.33333rem; }
    .item-block .tit .right-add {
      float: right;
      width: 5.92593rem;
      height: 1.48148rem;
      margin-top: 0.88889rem;
      color: #2CBCAD;
      border: 1px solid #2CBCAD;
      font-size: 0.88889rem;
      text-align: center;
      line-height: 1.48148rem;
      border-radius: 3px; }
  .item-block .item-block-con {
    position: relative;
    padding: 1.03704rem 1.03704rem 1.03704rem;
    background: #fff;
    color: #808080; }
    .item-block .item-block-con .scwrap {
      clear: both; }
      .item-block .item-block-con .scwrap .small-tit {
        color: #808080;
        font-size: 1.03704rem;
        line-height: 3.33rem; }
    .item-block .item-block-con:before {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background: #e8e8e8;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); }
    .item-block .item-block-con li {
      min-height: 1.55556rem;
      margin-bottom: 0.59259rem;
      line-height: 1.55556rem; }
      .item-block .item-block-con li.record {
        position: absolute;
        right: 1.03704rem;
        top: 50%;
        width: .62963rem;
        height: 1.25926rem;
        margin-top: -.62963rem;
        background: url(../../images/order-detail/arrow-right.png);
        background-size: 100% 100%; }
    .item-block .item-block-con img {
      float: left;
      width: 7.40741rem;
      height: 7.40741rem;
      border: 1px solid #E0DEDE;
      margin: 0 0.37037rem 0.37037rem 0; }
    .item-block .item-block-con.scpz img {
      float: left;
      width: 5.37037rem;
      height: 5.37037rem;
      border: 1px solid #f1f1f1;
      margin: 0 0.37037rem 0.37037rem 0; }
    .item-block .item-block-con.scpz .add-pz {
      float: left;
      width: 5.37037rem;
      height: 5.37037rem;
      border: 1px solid #f1f1f1;
      margin: 0 0.37037rem 0.37037rem 0;
      background: url("../../images/application-handle/scpz.png") center center no-repeat;
      background-size: 5.37037rem 5.37037rem; }
    .item-block .item-block-con.beiz {
      position: relative;
      width: 80%;
      height: 10.07407rem;
      margin: 1.11111rem auto 0;
      border: 1px solid #E8E8E8;
      border-radius: 0.22222rem; }
      .item-block .item-block-con.beiz textarea {
        border: none;
        resize: none;
        background: url("../../images/application-handle/bi.png") no-repeat;
        background-size: 0.92593rem 0.92593rem;
        text-indent: 1.2963rem; }

div.item-block:nth-last-of-type(3) {
  border-bottom: none; }

div.item-block:nth-last-of-type(2) {
  border-bottom: none; }
  div.item-block:nth-last-of-type(2) .item-block-con:before {
    display: none; }

.btn {
  position: fixed;
  z-index: 10;
  bottom: 0; }
  .btn div {
    display: table-cell;
    width: 1%;
    height: 3.51852rem;
    color: #fff;
    font-size: 1.11111rem;
    line-height: 3.51852rem;
    text-align: center; }
  .btn .refuse {
    background: #97e3cf; }
  .btn .agree {
    background: #2cbcad; }
  .btn .cancel {
    background: #F1F1F1;
    color: #808080; }
