@charset "UTF-8";
html {
  color: #000;
  background: #f5f5f6;
  font-family: sans-serif;
  font-size: 27px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong, figure, figcaption {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background: #f5f5f6; }

input {
  border: none; }

button {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #00c;
  outline: none; }

var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, b {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

i {
  font-style: normal; }

input, button, textarea, select, optgroup, option {
  outline: none; }

input, button, textarea, select {
  *font-size: 100%; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/*body{-webkit-user-select:none;-webkit-text-size-adjust:none;}*/
* {
  -webkit-tap-highlight-color: transparent; }

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  *zoom: 1; }

.textOverflow, .item .item-name, .item .item-info-desc, .info .info-desc:not(.reason) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

input, textarea, button, select {
  -webkit-appearance: none;
  border: none;
  border-radius: 0; }

.card {
  background: #fff;
  margin-bottom: 0.55556rem; }
  .card.card-inline {
    margin: 0 0.55556rem 0.55556rem;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3); }
    .card.card-inline:first-child {
      margin-top: 0.74074rem; }
    .card.card-inline .card-body {
      padding: 0; }
  .card .card-head {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    height: 3.14815rem;
    box-sizing: border-box;
    padding: 0 0.83333rem; }
    .card .card-head:after {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background: #e8e8e8;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); }
    .card .card-head .card-hd-title {
      font-size: 1.03704rem;
      color: #000;
      line-height: 3.14815rem; }
    .card .card-head .card-hd-link {
      font-size: 1.03704rem;
      color: #808080;
      line-height: 3.14815rem; }
    .card .card-head .card-hd-select {
      width: 6.85185rem;
      height: 2.07407rem;
      margin-top: 0.55556rem;
      -webkit-appearance: none;
      border: none;
      box-shadow: 0 0 1px 1px #ededed;
      background: url(../../images/tb-submit/arrow-down.png) no-repeat 5.37037rem center;
      background-size: 0.81481rem 0.44444rem;
      font-size: 0.96296rem;
      color: #3285CD;
      text-indent: 0.92593rem;
      line-height: 2.07407rem; }
    .card .card-head .card-hd-btn {
      display: block;
      padding: 0 0.74074rem;
      height: 1.77778rem;
      border: 1px solid rgba(74, 198, 185, 0.8);
      border-radius: 0.18519rem;
      margin-top: 0.59259rem;
      font-size: 0.96296rem;
      color: #4ac6b9;
      text-align: center;
      line-height: 1.77778rem; }
  .card .card-body {
    position: relative;
    box-sizing: border-box;
    padding: 0.55556rem 0; }
    .card .card-body:after {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background: #e8e8e8;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); }
  .card .card-foot {
    position: relative;
    width: 100%;
    height: 3.48148rem; }
    .card .card-foot:after {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background: #e8e8e8;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); }

.item {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: #fff;
  padding: 0.37037rem 0.92593rem;
  font-size: 1.03704rem;
  line-height: 2.07407rem; }
  .item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: url(../../images/tb-submit/dotted.png) repeat-x left bottom;
    background-size: 1px 0.55556rem; }
  .item:last-child {
    border: none; }
    .item:last-child:after {
      height: 0; }
  .item.item-link {
    background: url(../../images/tb-submit/arrow-right.png) no-repeat 96% center;
    background-size: 0.59259rem 1.18519rem; }
  .item:before {
    position: absolute;
    right: 0.92593rem;
    top: 0;
    width: 1.18519rem;
    height: 2.22222rem;
    box-sizing: border-box;
    padding-top: 0.18519rem;
    background: none no-repeat center;
    background-size: 100% 100%;
    font-size: 0.62963rem;
    color: #fff;
    text-align: center;
    line-height: 0.88889rem; }
  .item.mark-barg:before {
    content: '议 价';
    background-image: url(../../images/tb-submit/mark-barg.png); }
  .item.mark-add:before {
    content: '增 加';
    background-image: url(../../images/tb-submit/mark-add.png); }
  .item.mark-delete:before {
    content: '删 除';
    background-image: url(../../images/tb-submit/mark-delete.png); }
  .item.mark-update:before {
    content: '修 改';
    background-image: url(../../images/tb-submit/mark-update.png); }
  .item .item-name {
    color: #4b4b4b; }
  .item .item-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
  .item .item-info-name {
    width: 5.18519rem;
    color: #808080; }
    .item .item-info-name.ch {
      width: 6.2963rem; }
      .item .item-info-name.ch + .item-info-desc {
        width: 17.40741rem; }
  .item .item-info-desc {
    color: #4b4b4b;
    width: 18.51852rem; }
    .item .item-info-desc.price {
      color: #FE5534; }

.info-list {
  background: #fff;
  box-sizing: border-box;
  padding: 0.37037rem 0; }
  .info-list.info-list-link {
    background: #fff url(../../images/tb-submit/arrow-right.png) no-repeat 96% center;
    background-size: 0.59259rem 1.18519rem; }
  .info-list.info-list-underline:nth-child(n+2) {
    position: relative;
    padding-bottom: 0.74074rem; }
    .info-list.info-list-underline:nth-child(n+2):after {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      background: #ddd;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); }
  .info-list .info-list-title {
    box-sizing: border-box;
    padding-left: 0.92593rem;
    font-size: 1.18519rem;
    color: #4a4a4a;
    line-height: 2.22222rem; }

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  padding: 0 0.92593rem;
  font-size: 1.03704rem;
  line-height: 2.22222rem; }
  .info .info-title {
    width: 5.55556rem;
    color: #808080; }
    .info .info-title.ch {
      width: 6.2963rem; }
      .info .info-title.ch + .info-desc,
      .info .info-title.ch + .info-desc-input,
      .info .info-title.ch + .info-desc-textarea {
        width: 18.51852rem; }
  .info .info-desc {
    width: 19.25926rem;
    color: #4b4b4b; }
    .info .info-desc.price {
      color: #FE5534; }
    .info .info-desc.status {
      color: #3285CD; }
    .info .info-desc.reason {
      padding: 0.37037rem 0;
      line-height: 1.48148rem; }
  .info .info-desc-input {
    width: 19.33333rem;
    height: 2.22222rem;
    padding: 0.37037rem;
    box-sizing: border-box;
    border: 1px solid rgba(235, 235, 235, 0.8);
    -webkit-appearance: none;
    font-size: 0.96296rem;
    color: #666; }
  .info .info-desc-textarea {
    width: 19.25926rem;
    height: 5.92593rem;
    box-sizing: border-box;
    padding: 0.37037rem;
    resize: none;
    border: 1px solid rgba(235, 235, 235, 0.8);
    font-size: 0.96296rem;
    color: #666; }
  .info.info-exist-input {
    margin: 0.74074rem 0; }

.item-list-radio li {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  background: #fff; }
  .item-list-radio li:after {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    background: #ebebeb;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

.item-list-radio .left {
  width: 3.33333rem;
  box-sizing: border-box;
  padding: 1.66667rem 0.88889rem; }

.item-list-radio .item-radio {
  -webkit-appearance: none;
  width: 1.2963rem;
  height: 1.2963rem;
  border-width: 0;
  border-radius: 50%;
  background-image: url(../../images/tb-submit/radio.png);
  background-size: 100% 100%; }
  .item-list-radio .item-radio:checked {
    background-image: url(../../images/tb-submit/radio-select.png); }

.item-list-radio .item {
  padding: 1.18519rem 0; }
  .item-list-radio .item .item-info-name {
    width: 5.37037rem; }
    .item-list-radio .item .item-info-name.ch {
      width: 5.92593rem; }
  .item-list-radio .item .item-info-desc {
    width: auto; }

.foot-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  .foot-fixed .btn {
    display: table-cell;
    width: 1%;
    height: 3.33333rem;
    font-size: 1.03704rem;
    color: #fff;
    text-align: center;
    line-height: 3.33333rem; }
    .foot-fixed .btn.btn-default {
      background: #97e3cf; }
    .foot-fixed .btn.btn-cyan {
      background: #5fcabf; }
    .foot-fixed .btn.btn-primary {
      background: #2cbcad; }

.foot-static {
  padding-top: 5.92593rem; }
  .foot-static .btn {
    display: block;
    width: 17.77778rem;
    height: 2.37037rem;
    box-sizing: border-box;
    border: 1px solid #2cbcad;
    border-radius: 0.18519rem;
    margin: 0 auto 1.7037rem;
    font-size: 1.03704rem;
    cursor: pointer;
    text-align: center;
    line-height: 2.37037rem; }
    .foot-static .btn.btn-primary {
      background: #2cbcad;
      color: #fff; }
    .foot-static .btn.btn-default {
      background: #fff;
      color: #2cbcad; }

.item-bill.card-body {
  padding: 0; }
