@charset "UTF-8";
html {
  color: #000;
  background: #f5f5f6;
  font-family: sans-serif;
  font-size: 27px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, strong, figure, figcaption {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background: #f5f5f6; }

input {
  border: none; }

button {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #00c;
  outline: none; }

var, em, strong {
  font-style: normal; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, b {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

i {
  font-style: normal; }

input, button, textarea, select, optgroup, option {
  outline: none; }

input, button, textarea, select {
  *font-size: 100%; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/*body{-webkit-user-select:none;-webkit-text-size-adjust:none;}*/
* {
  -webkit-tap-highlight-color: transparent; }

.clearfix:after, .intro .con p:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix, .intro .con p {
  *zoom: 1; }

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

body {
  background: #ed4137;
  padding-bottom: 1.28571rem; }

.activity {
  padding-top: 2.14286rem;
  overflow-x: hidden; }

.backBtn {
  position: fixed;
  z-index: 9000;
  right: 0;
  top: 20px;
  width: 2.64286rem;
  height: 2.64286rem;
  background: url(../../images/luck-draw-activity/closeBtn.png);
  background-size: 100% 100%; }

.top {
  height: 11.25rem;
  background: #ed4037 url(../../images/luck-draw-activity/top.png) no-repeat 1.78571rem 3.28571rem;
  background-size: 23.64286rem 7.14286rem; }

.banner {
  height: 30.07143rem;
  margin-top: -0.89286rem;
  background: #ed4037 url(../../images/luck-draw-activity/banner.png) no-repeat;
  background-size: 100% 100%; }

.luck-draw {
  position: relative;
  width: 24.78571rem;
  height: 24.78571rem;
  margin: -3.21429rem auto 0; }
  .luck-draw .pointer {
    position: absolute;
    top: 7.67857rem;
    left: 8.78571rem;
    z-index: 3;
    width: 7.03571rem;
    height: 8.35714rem;
    background: url(../../images/luck-draw-activity/point.png) no-repeat;
    background-size: 7.03571rem 8.35714rem; }
    .luck-draw .pointer.disabled {
      background: url(../../images/luck-draw-activity/point-no.png) no-repeat;
      background-size: 100% 100%; }
  .luck-draw .rotate {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 24.78571rem;
    height: 24.78571rem;
    background: url(../../images/luck-draw-activity/pan.png) no-repeat;
    background-size: 100% 100%; }

.start {
  animation-name: rotate-draw;
  -webkit-animation-name: rotate-draw;
  -moz-animation-name: rotate-draw;
  -o-animation-name: rotate-draw;
  -ms-animation-name: rotate-draw;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  /*运动时间*/
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.43, 0.33, 0.04, 0.81);
  -webkit-animation-timing-function: cubic-bezier(0.43, 0.33, 0.04, 0.81);
  -moz-animation-timing-function: cubic-bezier(0.43, 0.33, 0.04, 0.81);
  -ms-animation-timing-function: cubic-bezier(0.43, 0.33, 0.04, 0.81);
  -o-animation-timing-function: cubic-bezier(0.43, 0.33, 0.04, 0.81);
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  /*延迟时间*/
  animation-iteration-count: 1;
  /*动画播放次数*/
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  /*在动画结束后（由 animation-iteration-count 决定），动画将应用该属性值。*/ }

.link {
  padding: 0 5.17857rem;
  margin: 1.35714rem 0 6.42857rem;
  position: relative; }
  .link:after {
    position: absolute;
    left: 50%;
    content: '';
    width: 0.14286rem;
    height: 0.96429rem;
    margin-left: 0.07143rem;
    background: #ffeb8c; }
  .link a {
    float: left;
    color: #ffeb8c;
    font-size: 0.85714rem;
    text-decoration: underline; }
    .link a:nth-child(2) {
      float: right; }

.intro {
  position: relative; }
  .intro .tit {
    position: absolute;
    top: -2.78571rem;
    left: 50%;
    width: 19.39286rem;
    height: 3.67857rem;
    margin-left: -9.69643rem;
    background: url(../../images/luck-draw-activity/title.png) no-repeat;
    background-size: 100% 100%;
    color: #fe7834;
    font-size: 1.71429rem;
    font-weight: bold;
    line-height: 2.85714rem;
    text-align: center; }
  .intro .con {
    padding: 1.25rem 0;
    width: 24.57143rem;
    padding-left: 2.14286rem;
    margin: 0 auto;
    background: #fff2c5;
    border-radius: 0.46429rem;
    box-sizing: border-box; }
    .intro .con h3 {
      line-height: 3.21429rem;
      color: #ed4137;
      font-size: 1rem; }
    .intro .con p {
      width: 21.07143rem;
      padding-left: 0.85714rem;
      margin: 0 0 1rem;
      color: #444;
      font-size: 0.85714rem;
      clear: both;
      box-sizing: border-box; }
      .intro .con p em, .intro .con p span {
        float: left; }
      .intro .con p em {
        width: 1.42857rem; }
      .intro .con p span {
        width: 18.67857rem; }

.mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }
  .mask .pop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 21.42857rem;
    height: 19.64286rem;
    margin: auto;
    background: #fff2c5;
    border-radius: 0.53571rem;
    text-align: center; }
    .mask .pop .tit {
      position: absolute;
      top: -2.78571rem;
      left: 50%;
      width: 19.39286rem;
      height: 3.67857rem;
      margin-left: -9.69643rem;
      background: url(../../images/luck-draw-activity/title.png) no-repeat;
      background-size: 100% 100%;
      color: #fe7834;
      font-size: 1.71429rem;
      font-weight: bold;
      line-height: 2.85714rem; }
    .mask .pop .con {
      width: 21.42857rem;
      height: 17.14286rem;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .mask .pop .con h3 {
        color: #e26a00;
        font-size: 1.28571rem;
        line-height: 3.57143rem; }
      .mask .pop .con .jiang {
        color: #ed4137;
        font-size: 1.71429rem;
        font-weight: bold; }
    .mask .pop .close {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3.21429rem;
      color: #fe7834;
      line-height: 3.21429rem; }
      .mask .pop .close:after {
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        background: #f0dd9a;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
