body, html{
  background: #F5F5F6
}

a, del, ins{
  text-decoration: none
}

html, legend{
  color: #000000
}

a, button, input, optgroup, option, select, textarea{
  outline: 0
}

.index .commodity-street .tit:after, .index .theme-venue .tit:after{
  left: -2.96296rem
}

html{
  font-family: sans-serif;
  font-size:   27px
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, strong, td, textarea, th, ul{
  padding:     0;
  margin:      0;
  font-family: sans-serif
}

.index, .index .focus .hd ul .on{
  background: #FFFFFF
}

button, input{
  border: none
}

table{
  border-collapse: collapse;
  border-spacing:  0
}

fieldset, img{
  border: 0
}

a{
  color: #0000CC
}

address, caption, cite, code, dfn, em, optgroup, strong, th, var{
  font-style:  inherit;
  font-weight: inherit
}

li{
  list-style: none
}

caption, th{
  text-align: left
}

b, h1, h2, h3, h4, h5, h6{
  font-size:   100%;
  font-weight: 400
}

q:after, q:before{
  content: ''
}

abbr, acronym{
  border:       0;
  font-variant: normal
}

sub, sup{
  vertical-align: baseline
}

i{
  font-style: normal
}

article, aside, dialog, figure, footer, header, menu, nav, section{
  display: block
}

*{
  -webkit-tap-highlight-color: transparent
}

.clearfix:after{
  content: "\200B";
  display: block;
  height:  0;
  clear:   both
}

.textOverflow{
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap
}

.index .focus{
  overflow: hidden;
  position: relative;
  width:    100%;
  height:   10.66667rem
}

.index .focus .hd{
  position: absolute;
  z-index:  1;
  width:    100%;
  height:   .51852rem;
  bottom:   .44444rem
}

.index .focus .hd ul{
  position:       absolute;
  right:          .59259rem;
  display:        inline-block;
  font-size:      0;
  vertical-align: top
}

.index .focus .hd ul li{
  display:               inline-block;
  width:                 .51852rem;
  height:                .51852rem;
  -webkit-border-radius: 100%;
  -moz-border-radius:    100%;
  border-radius:         100%;
  background:            rgba(118, 118, 118, .5);
  margin:                0 5px;
  vertical-align:        top;
  overflow:              hidden
}

.index .focus .bd{
  position: relative;
  z-index:  0
}

.index .focus .bd img{
  width:  100%;
  height: 10.66667rem
}

.index .theme-venue .tit{
  position:    relative;
  width:       5.44444rem;
  margin:      0 auto;
  padding:     1.11111rem 0 .88889rem;
  font-size:   1.26rem;
  color:       #2B9FA9;
  line-height: 1
}

.index .theme-venue .tit img{
  width:          1rem;
  height:         1rem;
  vertical-align: -.07407rem
}

.index .theme-venue .tit:after, .index .theme-venue .tit:before{
  position:   absolute;
  top:        50%;
  display:    block;
  content:    ' ';
  width:      2.2963rem;
  height:     .07407rem;
  background: #2B9FA9
}

.index .theme-venue .tit:before{
  right: -2.96296rem
}

.index .theme-venue .con{
  width:  98.33333%;
  margin: 0 auto
}

.index .theme-venue .con a{
  position:      relative;
  height:        5.92593rem;
  margin-bottom: .22222rem
}

.index .theme-venue .con a .venue-name{
  position:  absolute;
  right:     .59259rem;
  top:       .74074rem;
  color:     #FFFFFF;
  font-size: 1.04444rem
}

.index .theme-venue .con a .go-btn{
  position:      absolute;
  right:         .59259rem;
  bottom:        .44444rem;
  width:         3.25926rem;
  height:        1.25926rem;
  background:    rgba(255, 255, 255, .9);
  font-size:     .92593rem;
  text-align:    center;
  line-height:   1.25926rem;
  border-radius: .74074rem
}

.index .theme-venue .con a .go-btn em{
  margin-left: .18519rem
}

.index .theme-venue .con a .go-btn.t1{
  color: #FFB94F
}

.index .theme-venue .con a .go-btn.t2{
  color: #689CF4
}

.index .theme-venue .con a .go-btn.t3{
  color: #B5B2FC
}

.index .theme-venue .con a .go-btn.t4{
  color: #99DFB6
}

.index .theme-venue .con a .go-btn.t5{
  color: #FF91B3
}

.index .theme-venue .con a .go-btn.t6{
  color: #83D7F6
}

.index .theme-venue .con a img{
  //height: 5.77778rem
}

.index .theme-venue .con a .img1{
  width: (132/27)+rem;
  height:(99/27)+rem;
  margin-top: 1.2rem;
  margin-left: 1rem;
}

.index .theme-venue .con a .img2{
  width: (189/27)+rem;
  height:(130/27)+rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.index .theme-venue .con a .img3{
  width: 7.11111rem;
  height: 5.48148rem;
  margin-left: 1.2rem;
  margin-top: 0.3rem;
}

.index .theme-venue .con a .img4{
  width: (103/27)+rem;
  height:(109/27)+rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.index .theme-venue .con a .img5{
  width: (119/27)+rem;
  height:(111/27)+rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.index .theme-venue .con a .img6{
  width: (184/27)+rem;
  height:(124/27)+rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
}

.index .theme-venue .con .short{
  width: 39.83051%
}

.index .theme-venue .con .long{
  width: 59.03955%
}

.index .theme-venue .con .fl{
  float: left
}

.index .theme-venue .con .fr{
  float: right
}

.index .theme-venue .con .c1{
  background:      url(../../images/index/yp-bg.png);
  background-size: 100% 100%
}

.index .theme-venue .con .c2{
  background:      url(../../images/index/qx-bg.png);
  background-size: 100% 100%
}

.index .theme-venue .con .c3{
  background:      url(../../images/index/hc-bg.png);
  background-size: 100% 100%
}

.index .theme-venue .con .c4{
  background:      url(../../images/index/nk-bg.png);
  background-size: 100% 100%
}

.index .theme-venue .con .c5{
  background:      url(../../images/index/fk-bg.png);
  background-size: 100% 100%
}

.index .theme-venue .con .c6{
  background:      url(../../images/index/mr-bg.png);
  background-size: 100% 100%
}

.index .commodity-street .tit{
  position:    relative;
  width:       5.44444rem;
  margin:      0 auto;
  padding:     .88889rem 0;
  font-size:   1.26rem;
  color:       #9654D3;
  line-height: 1
}

.index .commodity-street .tit img{
  width:          1rem;
  height:         1rem;
  vertical-align: -.07407rem
}

.index .commodity-street .tit:after, .index .commodity-street .tit:before{
  position:   absolute;
  top:        50%;
  content:    ' ';
  width:      2.2963rem;
  height:     .07407rem;
  background: #9654D3;
  display:    block
}

.index .commodity-street .tit:before{
  right: -2.96296rem
}

.index .commodity-street .sub-tit{
  position:   relative;
  width:      100%;
  border-top: .07407rem solid #EFEFEF
}

.index .commodity-street .sub-tit:after{
  position:                 absolute;
  z-index:                  1;
  content:                  '';
  display:                  block;
  background:               #EFEFEF;
  bottom:                   0;
  right:                    0;
  height:                   1px;
  width:                    100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin:         50% 100%;
  -webkit-transform:        scaleY(.5);
  transform:                scaleY(.5)
}

.index .commodity-street .sub-tit li{
  display:     table-cell;
  width:       1%;
  height:      3.58333rem;
  font-size:   1.06667rem;
  color:       #4B4B4B;
  text-align:  center;
  line-height: 3.58333rem
}

.index .commodity-street .sub-tit li span{
  display: inline-block;
  margin:  0 auto
}

.index .commodity-street .sub-tit li span.select, .index .commodity-street .sub-tit li span:active{
  color:         #2CBCAD;
  border-bottom: 2px solid #2CBCAD
}

.index .commodity-street .con{
  padding:    .2963rem;
  background: #F6F9F9;
}

.index .commodity-street .con a{
  position:      relative;
  float:         left;
  width:         49.14286%;
  height:        15.33333rem;
  margin-right:  .2963rem;
  margin-bottom: .2963rem;
  background:    #FFFFFF
}

.index .commodity-street .con a:nth-child(2n){
  margin-right: 0
}

.index .commodity-street .con a img{
  display: block;
  width: 100%;
  height:  11.62963rem;
}

.index .commodity-street .con a span{
  position: absolute;
  bottom:   1.11481rem;
  padding:  0 1.18519rem;
  color:    grey
}

.index {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: (98/28)+rem;
  top: (90/28)+rem;
}