@import "../reset";
@import "../mixins";
.my {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: (90/28)+rem;
  .top {
    position: relative;
    height: (340/28)+rem;
    background: url(../../images/my/b.png);
    background-size: 100% 100%;
    .switch {
      float: left;
      margin: (42/28)+rem 0 0 (20/28)+rem;
      color: #fff;
      font-size: (24/28)+rem;
    }
    .icon {
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: (80/28)+rem;
      width: (138/28)+rem;
      height: (138/28)+rem;
      margin-left: -(138/2/28)+rem;
      border: 1px solid #fff;
      border-radius: 100%;
      img {
        width: (138/28)+rem;
        height: (138/28)+rem;
      }
    }
    .name {
      position: absolute;
      bottom: (50/28)+rem;
      width: 100%;
      font-size: (30/28)+rem;
      color: #fff;
      text-align: center;
    }
  }
  .middle {
    background: #F6F8F8;
    .block {
      .tit {
        position: relative;
        color: #4b4b4b;
        font-size: (30/28)+rem;
        line-height: (88/28)+rem;
        background: #fff;
        text-indent: (20/28)+rem;
        &:after {
          @include border(bottom);
        }
      }
      .con {
        a {
          display: table-cell;
          width: 1%;
          padding: (97/28)+rem 0 (28/28)+rem 0;
          color: #808080;
          font-size: (26/28)+rem;
          text-align: center;
        }
        .djd {
          position: relative;
          background: #fff url(../../images/my/djd.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
          &:after {
            @include border(right);
          }
        }
        .dfh {
          position: relative;
          background: #fff url(../../images/my/dfh.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
          &:after {
            @include border(right);
          }
        }
        .js {
          position: relative;
          background: #fff url(../../images/my/js.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
          &:after {
            @include border(right);
          }
        }
        .dsgl {
          position: relative;
          background: #fff url(../../images/my/dsgl.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
        }
        .dqr {
          position: relative;
          background: #fff url(../../images/my/dqr.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
          &:after {
            @include border(right);
          }
          &:before {
            @include border(top);
          }
        }
        .th {
          position: relative;
          background: #fff url(../../images/my/tuih.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
          &:after {
            @include border(right);
          }
          &:before {
            @include border(top);
          }
        }
        .qg {
          position: relative;
          background: #fff url(../../images/my/qg.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
          &:after {
            @include border(right);
          }
          &:before {
            @include border(top);
          }
        }
        .qrsh {
          position: relative;
          background: #fff url(../../images/my/qrsh.png) center (33/28)+rem no-repeat;
          background-size: (60/28)+rem (50/28)+rem;
          &:after {
            @include border(right);
          }
          &:before {
            @include border(top);
          }
        }
      }
    }
  }
}